<div
    class="entity-card__thumb fd-place-center"
    [class.entity-card__thumb--has-image]="!!imageUrl() || collage().hasImages"
    [class.entity-card__thumb--previewable]="hasPreviewImage()"
    [fdUiHint]="previewInteraction().hint"
    [fdUiHintDisabled]="!hasPreviewImage()"
    [attr.role]="previewInteraction().role"
    [attr.tabindex]="previewInteraction().tabIndex"
    [attr.aria-label]="previewInteraction().ariaLabel"
    (click)="handlePreview($event)"
    (keydown.enter)="handlePreview($event)"
    (keydown.space)="handlePreview($event); $event.preventDefault()"
>
    @if (imageUrl(); as imageSrc) {
        <img width="96" height="96" [ngSrc]="imageSrc" [alt]="imageAlt()" />
    } @else if (collage().hasImages) {
        <div [class]="`entity-card__collage entity-card__collage--count-${collage().count}`">
            @for (image of collage().images; track image.url) {
                <img class="entity-card__collage-image" width="96" height="96" [ngSrc]="image.url" [alt]="image.alt" />
            }
        </div>
    } @else {
        <fd-ui-icon size="lg" [name]="imageIcon()" />
    }
</div>
