<fd-ui-card
    class="consumption-manage__card"
    tone="editor"
    density="relaxed"
    headerAlign="center"
    [title]="'CONSUMPTION_MANAGE.GENERAL_GROUP_TITLE' | translate"
>
    <div class="consumption-manage__hero fd-grid fd-gap-lg" [formGroup]="consumptionForm()">
        <div class="consumption-manage__image">
            <fd-image-upload-field
                appearance="compact"
                formControlName="imageUrl"
                [description]="'CONSUMPTION_MANAGE.IMAGE_DESCRIPTION' | translate"
            />
        </div>
        <div class="consumption-manage__hero-fields fd-stack fd-gap-lg">
            <div class="consumption-manage__field-row fd-grid fd-gap-lg">
                <div class="consumption-manage__field fd-stack fd-gap-xs">
                    <fd-ui-date-input
                        formControlName="date"
                        size="lg"
                        [label]="'CONSUMPTION_MANAGE.CHOOSE_DATE' | translate"
                        [required]="true"
                        [error]="generalErrors().date"
                    />
                </div>
                <div class="consumption-manage__field fd-stack fd-gap-xs">
                    <fd-ui-time-input
                        formControlName="time"
                        size="lg"
                        [label]="'CONSUMPTION_MANAGE.CHOOSE_TIME' | translate"
                        [required]="true"
                        [error]="generalErrors().time"
                    />
                </div>
            </div>
            <div class="consumption-manage__field fd-stack fd-gap-xs">
                <fd-ui-select
                    formControlName="mealType"
                    size="lg"
                    [label]="'CONSUMPTION_MANAGE.MEAL_TYPE_LABEL' | translate"
                    [placeholder]="'CONSUMPTION_MANAGE.MEAL_TYPE_PLACEHOLDER' | translate"
                    [options]="mealTypeSelectOptions()"
                    [error]="generalErrors().mealType"
                />
            </div>
        </div>
    </div>
    <div class="consumption-manage__field consumption-manage__field--full fd-stack fd-gap-xs" [formGroup]="consumptionForm()">
        <fd-ui-textarea
            formControlName="comment"
            size="lg"
            [label]="'CONSUMPTION_MANAGE.COMMENT' | translate"
            [placeholder]="'CONSUMPTION_MANAGE.COMMENT_PLACEHOLDER' | translate"
            [rows]="3"
        />
    </div>
</fd-ui-card>
