@import 'variables';

:host {
    display: block;
    width: 100%;
}

.modal {
    background-color: @color-background;
    display: flex;
    flex-direction: column;
    gap: @gap-xs;
}

.modal__title {
    font-size: 1.8em;
    font-weight: bold;
    margin: 0;
    text-align: left;
}

.modal__body {
    display: flex;
    flex-direction: column;
    gap: @gap-s;
}

.modal__info {
    margin-bottom: @gap-xxs;
}

.modal__text {
    font-size: @font-size-main;
    color: @color-text-main;
    margin: @gap-xs 0;
    display: flex;
    align-items: baseline;
}

.modal__property-name {
    font-weight: 600;
    margin-right: @gap-xxs;
}

.modal__footer {
    display: flex;
    flex-direction: column;
    margin-top: @gap-xs;

    &-action-wrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: @gap-s;
    }

    &-warning-message {
        margin: 0;
        color: @color-text-additional;
        font-size: 0.9em;
        font-style: italic;
        text-align: center;
    }
}

.action-wrapper__button {
    flex: 1;
    font-size: @font-size-main;

    &--accent {
        flex: 0 0 auto;
    }
}

.recipe-detail__confirm {
    display: flex;
    flex-direction: column;
    gap: @gap-m;

    &-name {
        font-weight: 600;
    }

    &-buttons {
        display: flex;
        gap: @gap-s;
        justify-content: flex-end;
    }
}
