<fd-ui-dialog class="recipe-list-filters-dialog" [title]="'RECIPE_LIST.FILTERS_TITLE' | translate">
    <fd-ui-segmented-toggle
        class="recipe-list-filters-dialog__visibility"
        [options]="visibilityOptions"
        [selectedValue]="visibilityValue"
        [fdUiHint]="'RECIPE_LIST.FILTERS_TITLE' | translate"
        [ariaLabel]="'RECIPE_LIST.FILTERS_TITLE' | translate"
        [fullWidth]="true"
        (selectedValueChange)="onVisibilityChange($event)"
    />

    <section class="recipe-list-filters-dialog__section fd-grid fd-gap-xs">
        <h3 class="recipe-list-filters-dialog__section-title">{{ 'RECIPE_LIST.FILTER_DETAILS' | translate }}</h3>
        <fd-ui-input
            size="sm"
            [label]="'RECIPE_LIST.FILTER_CATEGORY' | translate"
            [placeholder]="'RECIPE_LIST.FILTER_CATEGORY_PLACEHOLDER' | translate"
            [(value)]="categoryValue"
        />
        <fd-ui-input
            type="number"
            size="sm"
            min="0"
            [label]="'RECIPE_LIST.FILTER_MAX_TOTAL_TIME' | translate"
            [(value)]="maxTotalTimeValue"
        />
    </section>

    <section class="recipe-list-filters-dialog__section fd-grid fd-gap-xs">
        <h3 class="recipe-list-filters-dialog__section-title">{{ 'RECIPE_LIST.FILTER_NUTRITION' | translate }}</h3>
        <div class="recipe-list-filters-dialog__range fd-grid fd-gap-xs">
            <fd-ui-input
                type="number"
                size="sm"
                min="0"
                [label]="'RECIPE_LIST.FILTER_CALORIES_FROM' | translate"
                [(value)]="caloriesFromValue"
            />
            <fd-ui-input
                type="number"
                size="sm"
                min="0"
                [label]="'RECIPE_LIST.FILTER_CALORIES_TO' | translate"
                [(value)]="caloriesToValue"
            />
        </div>
    </section>

    <section class="recipe-list-filters-dialog__section fd-grid fd-gap-xs">
        <h3 class="recipe-list-filters-dialog__section-title">{{ 'RECIPE_LIST.FILTER_MEDIA' | translate }}</h3>
        <fd-ui-segmented-toggle
            class="recipe-list-filters-dialog__image"
            [options]="imageOptions"
            [selectedValue]="imageValue"
            [ariaLabel]="'RECIPE_LIST.FILTER_MEDIA' | translate"
            [fullWidth]="true"
            (selectedValueChange)="onImageChange($event)"
        />
    </section>

    <div fdUiDialogFooter class="recipe-list-filters-dialog__footer fd-row fd-justify-end fd-gap-xs">
        <fd-ui-button type="button" variant="secondary" fill="ghost" (click)="onCancel()"> {{ 'COMMON.CANCEL' | translate }} </fd-ui-button>
        <fd-ui-button type="button" variant="primary" fill="solid" (click)="onApply()">
            {{ 'RECIPE_LIST.FILTER_APPLY_BUTTON' | translate }}
        </fd-ui-button>
    </div>
</fd-ui-dialog>
