<div class="statistics" fdPageContainer>
    <fd-page-header
        class="statistics__header"
        [title]="'STATISTICS.TITLE' | translate"
        [subtitle]="'STATISTICS.SUBTITLE' | translate"
    />

    <fd-page-body>
        <fd-period-filter
            class="statistics__period"
            [tabs]="rangeTabs"
            [selectedValue]="selectedRange()"
            [rangeControl]="customRangeControl"
            [displayRange]="currentRange()"
            [startPlaceholder]="'STATISTICS.CUSTOM_RANGE_PLACEHOLDER' | translate"
            [endPlaceholder]="'STATISTICS.CUSTOM_RANGE_PLACEHOLDER' | translate"
            (rangeChange)="changeRange($event)"
        />

        @if (isLoading()) {
            <div class="statistics__loader">{{ 'STATISTICS.LOADING' | translate }}</div>
        } @else {
            <fd-statistics-summary
                [summary]="summaryMetrics()"
                [summarySparklineData]="summarySparklineData()"
                [summarySparklineOptions]="summarySparklineOptions"
                [macroSparklineData]="macroSparklineData()"
            />

            <fd-statistics-nutrition
                class="statistics__card statistics__card--charts"
                [tabs]="nutritionTabs"
                [selectedTab]="selectedNutritionTab()"
                [hasData]="hasStatisticsData()"
                [caloriesLineChartData]="caloriesLineChartData()"
                [caloriesLineChartOptions]="caloriesLineChartOptions"
                [nutrientsLineChartData]="nutrientsLineChartData()"
                [nutrientsLineChartOptions]="nutrientsLineChartOptions"
                [nutrientsPieChartData]="nutrientsPieChartData()"
                [pieChartOptions]="pieChartOptions"
                [nutrientsRadarChartData]="nutrientsRadarChartData()"
                [radarChartOptions]="radarChartOptions"
                [nutrientsBarChartData]="nutrientsBarChartData()"
                [barChartOptions]="barChartOptions"
                (selectedTabChange)="changeNutritionTab($event)"
            />

            <fd-statistics-body
                class="statistics__card statistics__card--body"
                [tabs]="bodyTabs"
                [selectedTab]="selectedBodyTab()"
                [isLoading]="isBodyLoading()"
                [bodyChartData]="bodyChartData()"
                [bodyChartOptions]="bodyChartOptions"
                [hasBodyData]="hasBodyData()"
                (selectedTabChange)="changeBodyTab($event)"
            />
        }
    </fd-page-body>
</div>
