@use 'variables' as variables;

.card {
    cursor: pointer;
    margin-bottom: variables.$gap-m;
    border: 1px solid variables.$color-box-shadow;
    border-radius: variables.$border-radius-m;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px variables.$color-box-shadow;
    transition: transform 0.2s, box-shadow 0.2s;

    &:hover {
        transform: translateY(-4px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }
}

