@import 'variables';

.modal {
    background-color: @color-background;
}

.modal__divider {
    border: none;
    border-top: 1px solid #ddd;
}

.modal__title {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: @gap-l;
    text-align: center;
}

.modal__info {
    margin-bottom: @gap-m;
}

.modal__text {
    font-size: @font-size-main;
    color: @color-text-main;
    margin: @gap-xs 0;
    display: flex;
    align-items: baseline;
}

.modal__property-name {
    font-weight: 600;
    margin-right: @gap-xxs;
}

.modal__footer {
    display: flex;
    flex-direction: column;
    margin-top: @gap-l;

    &-action-wrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: @gap-s;
    }

    &-warning-message {
        margin: 0;
        color: #6c757d;
        font-size: 0.9em;
        font-style: italic;
        text-align: center;
    }
}

.action-wrapper__button {
    flex: 1;
    font-size: @font-size-main;

    &--accent {
        flex: 0 0 auto;
    }
}

.dialog {
    padding: @gap-l;
    text-align: center;

    &__title {
        &--bold {
            font-weight: bold;
        }
    }

    &__buttons {
        display: flex;
        justify-content: center;
        gap: @gap-s;
    }

    &__button {
        flex: 1;
    }
}
