<div class="modal">
    <h2 class="modal__title">
        {{ food.name }}
        @if (food.barcode) {
            [{{ food.barcode }}]
        }
    </h2>
    <hr class="modal__divider" />
    <div class="modal__body">
        <div class="modal__info">
            @if (food.category) {
                <p class="modal__text">
                    <span class="modal__property-name">{{ 'FOOD_DETAIL.CATEGORY' | translate }}</span>
                    {{ food.category }}
                </p>
            }
            <p class="modal__text">
                <span class="modal__property-name">{{ 'FOOD_DETAIL.BASE_AMOUNT' | translate }}</span>
                {{ food.baseAmount }} {{ 'FOOD_AMOUNT_UNITS_SHORT.' + food.baseUnit | translate }}
            </p>
        </div>
        <fd-nutrients-summary
            [calories]="calories"
            [nutrientChartData]="nutrientChartData"
            [config]="nutrientSummaryConfig"
        ></fd-nutrients-summary>
    </div>
    <div class="modal__footer">
        <div class="modal__footer-action-wrapper action-wrapper">
            <button
                class="action-wrapper__button"
                tuiButton
                size="m"
                iconStart="@tui.pen-line"
                [disabled]="isActionDisabled"
                (click)="onEdit()"
            >
                {{ 'FOOD_DETAIL.EDIT_BUTTON' | translate }}
            </button>
            <button
                class="action-wrapper__button action-wrapper__button--accent"
                tuiButton
                size="m"
                appearance="accent"
                iconStart="@tui.trash-2"
                [disabled]="isActionDisabled"
                (click)="onDelete()"
            ></button>
        </div>
        @if (isActionDisabled) {
            <p class="modal__footer-warning-message">{{ 'FOOD_DETAIL.WARNING_MESSAGE' | translate }}</p>
        }
    </div>
</div>

<ng-template #confirmDialog let-observer>
    <div class="dialog">
        <p>{{ 'FOOD_DETAIL.CONFIRM_DELETE_TITLE' | translate }} <span class="dialog__title--bold">{{ food.name }}</span>?</p>
        <div class="dialog__buttons">
            <button class="dialog__button" tuiButton size="m" (click)="observer.complete()">{{ 'FOOD_DETAIL.CANCEL_BUTTON' | translate }}</button>
            <button class="dialog__button" tuiButton size="m" appearance="accent" (click)="observer.next(true); observer.complete()">{{ 'FOOD_DETAIL.CONFIRM_BUTTON' | translate }}</button>
        </div>
    </div>
</ng-template>
