<fd-ui-card class="weight-history-page__card weight-history-page__card--chart" [title]="'WEIGHT_HISTORY.CHART_TITLE' | translate">
    @if (isLoading()) {
        <div class="weight-history-page__loader fd-ui-body-sm">
            {{ 'WEIGHT_HISTORY.LOADING' | translate }}
        </div>
    } @else {
        @if (hasPoints()) {
            <fd-ui-line-chart
                class="weight-history-page__chart"
                lineColor="var(--fd-color-primary-600)"
                [title]="'WEIGHT_HISTORY.CHART_TITLE' | translate"
                [points]="chartPoints()"
                [showArea]="false"
                [showAxisLabels]="true"
                [showGrid]="true"
                [valueSuffix]="'GENERAL.UNITS.KG' | translate"
            />
        } @else {
            <p class="weight-history-page__empty-chart fd-ui-body-sm">
                {{ 'WEIGHT_HISTORY.NO_DATA_FOR_CHART' | translate }}
            </p>
        }
    }
</fd-ui-card>
