<div class="statistics">
    <h2 class="statistics__title">{{ 'STATISTICS.TITLE' | translate }}</h2>
    <div class="statistics__range">
        <form class="statistics__form" [formGroup]="rangeForm">
            <div class="statistics__range-modes"
                 tuiGroup
                 [orientation]="isMobile() ? 'vertical' : 'horizontal'"
                 [collapsed]="true"
            >
                <label class="statistics__range-label" tuiBlock="s">
                    <input
                        class="statistics__range-input"
                        formControlName="range"
                        tuiBlock
                        type="radio"
                        value="Week"
                    />
                    {{ 'STATISTICS.LABELS.WEEK' | translate }}
                </label>
                <label class="statistics__range-label" tuiBlock="s">
                    <input
                        class="statistics__range-input"
                        formControlName="range"
                        tuiBlock
                        type="radio"
                        value="Month"
                    />
                    {{ 'STATISTICS.LABELS.MONTH' | translate }}
                </label>
                <label class="statistics__range-label" tuiBlock="s">
                    <input
                        class="statistics__range-input"
                        formControlName="range"
                        tuiBlock
                        type="radio"
                        value="Year"
                    />
                    {{ 'STATISTICS.LABELS.YEAR' | translate }}
                </label>
                <label class="statistics__range-label" tuiBlock="s">
                    <input
                        class="statistics__range-input"
                        formControlName="range"
                        tuiBlock
                        type="radio"
                        value="Custom"
                    />
                    {{ 'STATISTICS.LABELS.CUSTOM' | translate }}
                </label>
            </div>
            @if (rangeForm.controls.range.value === 'Custom') {
                <tui-input-date-range
                    class="statistics__input-range"
                    formControlName="inputRange"
                    [maxLength]="maxLength"
                >
                    {{ 'STATISTICS.RANGE' | translate }}
                </tui-input-date-range>
            }
        </form>
    </div>

    @if (isLoading()) {
        <tui-loader class="statistics__loader"></tui-loader>
    } @else {
        <div class="statistics__calories">
            <h3 class="statistics__calories-title">
                {{ 'STATISTICS.CALORIES_TITLE' | translate }}
            </h3>
            <div class="statistics__axes">
                <canvas
                    baseChart
                    style="width: 100%; height: 100%;"
                    [type]="'line'"
                    [data]="caloriesLineChartData()"
                    [options]="caloriesLineChartOptions"
                    [legend]="false"
                ></canvas>
            </div>
        </div>
        <div class="statistics__nutrients">
            <h3 class="statistics__nutrients-title">
                {{ 'STATISTICS.NUTRIENTS_TITLE' | translate }}
            </h3>
            <div class="statistics__nutrients-charts">
                <div class="statistics__axes">
                    <canvas
                        baseChart
                        style="width: 100%; height: 100%;"
                        [type]="'line'"
                        [data]="nutrientsLineChartData()"
                        [options]="nutrientsLineChartOptions"
                        [legend]="true"
                    ></canvas>
                </div>
                <div class="statistics__addon-nutrients-charts">
                    <div class="statistics__pie-chart">
                        <canvas
                            baseChart
                            style="width: 100%; height: 100%;"
                            [type]="'pie'"
                            [data]="nutrientsPieChartData()"
                            [options]="pieChartOptions"
                            [legend]="false"
                        ></canvas>
                    </div>
                    <div class="statistics__radar-chart">
                        <canvas
                            baseChart
                            style="width: 100%; height: 100%;"
                            [type]="'radar'"
                            [data]="nutrientsRadarChartData()"
                            [options]="radarChartOptions"
                            [legend]="false"
                        ></canvas>
                    </div>
                    <div class="statistics__bar-chart">
                        <canvas
                            baseChart
                            style="width: 100%; height: 100%;"
                            [type]="'bar'"
                            [data]="nutrientsBarChartData()"
                            [options]="barChartOptions"
                            [legend]="false"
                        ></canvas>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
