**/bin/
**/obj/
**/node_modules/
**/dist/
**/.angular/
**/.vs/
**/.vscode/
**/.idea/
**/TestResults/
**/coverage/
**/.env
**/.env.*

.git
.github
*.md
LICENSE
*.sln
.gitignore
.dockerignore

backend/
tests/
