**/bin/
**/obj/
**/node_modules/
**/dist/
**/.angular/
**/.vs/
**/.vscode/
**/.idea/
**/TestResults/
**/coverage/

.git
.github
*.md
LICENSE
*.sln
.editorconfig
.gitignore
.dockerignore

backend/
tests/
