/frontend/food-diary-web-client/node_modules/
/backend/food-diary.web.api/node_modules/
/frontend/food-diary-web-client/.angular/
/backend/food-diary.web.api/dist/
/frontend/food-diary-web-client/dist/
/backend/food-diary.web.api/logs/
