<div class="recipe-select" #container>
    @if (!embedded()) {
        <div class="recipe-select__header">
            <div>
                <h2 class="recipe-select__title">{{ 'RECIPE_SELECT_DIALOG.TITLE' | translate }}</h2>
            </div>
        </div>
    }

    <div class="recipe-select__controls">
        <form class="recipe-select__search-form" [formGroup]="searchForm">
            <fd-ui-input
                class="recipe-select__search-input"
                formControlName="search"
                prefixIcon="search"
                [label]="'RECIPE_SELECT_DIALOG.SEARCH_PLACEHOLDER' | translate"
                [suffixButtonIcon]="searchForm.controls.search.value ? 'close' : undefined"
                [suffixButtonAriaLabel]="'RECIPE_SELECT_DIALOG.SEARCH_CLEAR' | translate"
                (suffixButtonClicked)="searchForm.controls.search.setValue('')"
            />
        </form>
        <fd-ui-button
            class="recipe-select__filter-button"
            variant="secondary"
            fill="outline"
            [icon]="searchForm.controls.onlyMine.value ? 'person' : 'groups'"
            [ariaLabel]="'RECIPE_SELECT_DIALOG.ONLY_MY_RECIPES' | translate"
            (click)="searchForm.controls.onlyMine.setValue(!searchForm.controls.onlyMine.value)"
            [class.recipe-select__filter-button--active]="searchForm.controls.onlyMine.value"
        />
    </div>

    @if (recipeData.isLoading()) {
        <fd-ui-loader class="recipe-select__loader" />
    } @else {
        @if (recipeData.items().length > 0) {
            <div class="recipe-select__list">
                @for (recipe of recipeData.items(); track recipe.id) {
                    <button type="button" class="recipe-select__item" (click)="onRecipeClick(recipe)">
                        <div class="recipe-select__thumb">
                            @if (resolveImage(recipe)) {
                                <img [src]="resolveImage(recipe)" [alt]="recipe.name" />
                            } @else {
                                <mat-icon>restaurant</mat-icon>
                            }
                        </div>
                        <div class="recipe-select__info">
                            <div class="recipe-select__name">{{ recipe.name }}</div>
                            <div class="recipe-select__meta">
                                @if (recipe.category) { {{ recipe.category }} · }
                                {{ recipe.totalCalories ?? 0 }} {{ 'SHARED.NUTRIENTS_SUMMARY.KKAL' | translate }} ·
                                {{ recipe.servings }} {{ 'RECIPE_SELECT_DIALOG.SERVINGS' | translate }}
                            </div>
                        </div>
                        <span class="recipe-select__action">
                            <fd-ui-button icon="add" variant="primary" fill="solid" size="sm" ariaLabel="{{ 'COMMON.ADD' | translate }}" />
                        </span>
                    </button>
                }
            </div>
        } @else {
            <div class="recipe-select__no-results">
                <mat-icon class="recipe-select__no-results-icon">search_off</mat-icon>
                {{ 'RECIPE_SELECT_DIALOG.NO_RECIPES_FOUND' | translate }}
            </div>
        }
    }

    @if (recipeData.totalPages > 1) {
        <fd-ui-pagination class="recipe-select__pagination"
            [length]="recipeData.totalItems"
            [pageSize]="10"
            [pageIndex]="currentPageIndex"
            (pageIndexChange)="onPageChange($event)"
         />
    }

    @if (!embedded()) {
        <div class="recipe-select__footer">
            <fd-ui-button
                variant="primary"
                fill="solid"
                icon="add"
                (click)="onCreateRecipeClick()"
            >
                {{ 'RECIPE_SELECT_DIALOG.ADD_RECIPE_BUTTON' | translate }}
            </fd-ui-button>
        </div>
    }
</div>
