@import 'mixins';
@import 'variables';

:host {
    .host-style('/assets/images/background.webp');
}

.user-manage {
    max-width: 1000px;
    margin: 0 auto;
    padding: @gap-m;
    box-sizing: border-box;

    &__title {
        font-size: 1.8em;
        font-weight: bold;
        color: @color-text-main;
        text-align: center;
        margin: 0 0 @gap-l;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: @gap-m;
    }

    &__field {
        display: flex;
        flex-direction: column;

        &--password {
            position: relative;
        }
    }

    &__input {
        width: 100%;
    }

    &__select {
        width: 100%;
    }

    &__actions {
        display: flex;
        justify-content: center;
    }

    &__button {
        width: 100%;
        text-align: center;

        &--submit {
            background-color: #007bff;
            color: @color-background;
        }
    }

    &__error {
        color: red;
        font-size: 0.9em;
        text-align: center;
    }

    &__dialog {
        padding: @gap-l;
        text-align: center;

        &-title {
            font-size: 1.8em;
            font-weight: bold;
            color: @color-text-main;
            margin: 0 0 54px;
        }

        &-actions {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: @gap-xl;
        }

        &-button {
            width: 100%;
        }
    }
}
