<div class="recipe-list" fdPageContainer #container>
    <fd-page-header
        class="recipe-list__header"
        [title]="'RECIPE_LIST.TITLE' | translate"
        [subtitle]="'RECIPE_LIST.SUBTITLE' | translate"
    >
        <ng-container fdPageHeaderActions>
            <div class="recipe-list__controls">
                <form class="recipe-list__search-form" [formGroup]="searchForm">
                    <fd-ui-input class="recipe-list__search-input"
                        formControlName="search"
                        prefixIcon="search"
                        [label]="''"
                        [clearable]="true"
                        [placeholder]="'RECIPE_LIST.SEARCH_PLACEHOLDER' | translate"
                        [hideSubscript]="true"
                        (cleared)="searchForm.controls.search.setValue('')"
                     />
                </form>

                <div class="recipe-list__filters">
                    <fd-ui-button class="recipe-list__pill"
                        variant="secondary"
                        fill="outline"
                        icon="tune"
                        [ariaLabel]="
                            searchForm.controls.onlyMine.value
                                ? ('RECIPE_LIST.SHOW_ALL_RECIPES' | translate)
                                : ('RECIPE_LIST.ONLY_MY_RECIPES' | translate)
                        "
                        (click)="toggleOnlyMine()"
                        [class.recipe-list__pill--active]="searchForm.controls.onlyMine.value"
                    >
                        {{ searchForm.controls.onlyMine.value
                            ? ('RECIPE_LIST.ONLY_MY_RECIPES' | translate)
                            : ('RECIPE_LIST.SHOW_ALL_RECIPES' | translate) }}
                    </fd-ui-button>
                    <fd-ui-button
                        class="recipe-list__pill recipe-list__pill--ghost"
                        variant="primary"
                        fill="solid"
                        icon="add"
                        (click)="onAddRecipeClick()"
                    >
                        {{ 'RECIPE_LIST.ADD_RECIPE_BUTTON' | translate }}
                    </fd-ui-button>
                </div>
            </div>
        </ng-container>
    </fd-page-header>

    <fd-page-body>
        @if (recipeData.isLoading()) {
            <fd-ui-loader class="recipe-list__loader" />
        } @else {
            @if (recipeData.items().length > 0) {
                <div class="recipe-list__grid">
                    @for (recipe of recipeData.items(); track recipe.id) {
                        <fd-recipe-card
                            [recipe]="recipe"
                            [imageUrl]="resolveImage(recipe)"
                            (open)="onRecipeClick(recipe)"
                            (addToMeal)="onAddToMeal(recipe)"
                        />
                    }
                </div>
            } @else {
                <div class="recipe-list__no-results">
                    <mat-icon class="recipe-list__no-results-icon">search_off</mat-icon>
                    {{ 'RECIPE_LIST.NO_RECIPES_FOUND' | translate }}
                </div>
            }
        }

        @if (recipeData.totalPages > 1) {
            <fd-ui-pagination class="recipe-list__pagination"
                [length]="recipeData.totalItems"
                [pageSize]="pageSize"
                [pageIndex]="currentPageIndex"
                (pageIndexChange)="onPageChange($event)"
             />
        }
    </fd-page-body>
</div>
