<fd-ui-dialog [title]="'BARCODE_SCANNER.TITLE' | translate" [dismissible]="true" (close)="close()">
    <div class="barcode-scanner">
        @if (isUnsupported()) {
            <div class="barcode-scanner__message fd-stack fd-center fd-gap-md">
                <p>{{ 'BARCODE_SCANNER.UNSUPPORTED' | translate }}</p>
                <fd-ui-button variant="secondary" (click)="close()">
                    {{ 'COMMON.CLOSE' | translate }}
                </fd-ui-button>
            </div>
        } @else if (isCameraError()) {
            <div class="barcode-scanner__message fd-stack fd-center fd-gap-md">
                <p>{{ 'BARCODE_SCANNER.CAMERA_ERROR' | translate }}</p>
                <fd-ui-button variant="secondary" (click)="close()">
                    {{ 'COMMON.CLOSE' | translate }}
                </fd-ui-button>
            </div>
        } @else {
            @if (!isCameraReady()) {
                <div class="barcode-scanner__loading fd-stack fd-center">
                    <fd-ui-loader />
                </div>
            }
            <video
                #video
                class="barcode-scanner__video"
                autoplay
                playsinline
                muted
                [class.barcode-scanner__video--hidden]="!isCameraReady()"
            ></video>
        }
    </div>
</fd-ui-dialog>
