@use 'mixins' as *;
@use 'variables' as *;

:host {
    @include host-style('/assets/images/background.webp');
}

.auth {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: $gap-l;

    &__card,
    &__info-card {
        width: 100%;
    }

    &__tabs {
        margin-bottom: $gap-m;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: $gap-m;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: $gap-m;
    }

    &__field {
        display: flex;
        flex-direction: column;
        gap: $gap-xs;
    }

    &__actions {
        display: flex;
        flex-direction: column;
        gap: $gap-s;
    }

    &__checkbox-row {
        display: flex;
        gap: $gap-s;
        align-items: flex-start;
    }

    &__checkbox-text {
        font-size: 0.85rem;
        color: $color-text-additional;

        a {
            color: $color-primary;
        }
    }

    &__info-lead {
        margin: 0 0 $gap-s;
        color: $color-text-additional;
    }

    &__info-list {
        margin: 0;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        gap: $gap-xs;
        color: $color-text-main;
    }
}
