@import 'variables';

.header {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--tui-border-normal);
    padding-left: @gap-l;

    &__logo {
        display: flex;
        align-items: center;

        a {
            text-decoration: none;
        }

        &-img {
            height: 40px;
            object-fit: contain;
        }
    }

    &__tabs-container {
        display: flex;
        align-items: center;
        padding: 0 @gap-m;
    }

    &__tabs {
        @media @media-tablet {
            display: none;
        }
    }
}

tui-tabs::before {
    block-size: 4px;
}

.mobile-menu-button {
    display: none;
    height: 56px;

    @media @media-tablet {
        display: flex;
        align-items: center;
    }
}

