.header {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid var(--tui-border-normal);
    padding-left: 20px;
}

.tabs-container {
    display: flex;
    align-items: center;
    padding: 0 16px;
}

tui-tabs::before {
    block-size: 4px;
}
