<div class="product-list" fdPageContainer>
    <fd-page-header
        class="product-list__header"
        [title]="'PRODUCT_LIST.TITLE' | translate"
        [subtitle]="'PRODUCT_LIST.SUBTITLE' | translate"
    >
        <ng-container fdPageHeaderActions>
            <div class="product-list__controls">
                <form class="product-list__search-form" [formGroup]="searchForm">
                    <fd-ui-plain-input class="product-list__search-input"
                        formControlName="search"
                        size="md"
                        [label]="'PRODUCT_LIST.SEARCH_LABEL' | translate"
                        [prefixIcon]="'search'"
                        [placeholder]="'PRODUCT_LIST.SEARCH_PLACEHOLDER' | translate"
                        [suffixButtonIcon]="'qr_code_scanner'"
                        [suffixButtonAriaLabel]="'PRODUCT_LIST.SCAN_BARCODE' | translate"
                        (suffixButtonClicked)="openBarcodeScanner()"
                     />
                </form>

                <div class="product-list__filters">
                    <fd-ui-button class="product-list__pill"
                        variant="secondary"
                        fill="outline"
                        icon="tune"
                        [ariaLabel]="'PRODUCT_LIST.ONLY_MY_PRODUCTS' | translate"
                        (click)="toggleOnlyMine()"
                        [class.product-list__pill--active]="searchForm.controls.onlyMine.value"
                    >
                        {{ searchForm.controls.onlyMine.value
                            ? ('PRODUCT_LIST.ONLY_MY_PRODUCTS' | translate)
                            : ('PRODUCT_LIST.SHOW_ALL_PRODUCTS' | translate) }}
                    </fd-ui-button>
                    <fd-ui-button
                        class="product-list__add-button"
                        variant="primary"
                        fill="solid"
                        icon="add"
                        [ariaLabel]="'PRODUCT_LIST.ADD_PRODUCT_BUTTON' | translate"
                        (click)="onAddProductClick()"
                    >
                        {{ 'PRODUCT_LIST.ADD_PRODUCT_BUTTON' | translate }}
                    </fd-ui-button>
                </div>
            </div>
        </ng-container>
    </fd-page-header>

    <fd-page-body>
        @if (productData.isLoading()) {
            <fd-ui-loader class="product-list__loader" />
        } @else {
            @if (productData.items().length > 0) {
                <div class="product-list__grid">
                    @for (product of productData.items(); track product) {
                        <fd-product-card
                            [product]="product"
                            [imageUrl]="resolveImage(product)"
                            (open)="onProductClick(product)"
                            (addToMeal)="onAddToMeal(product)"
                        />
                    }
                </div>
            } @else {
                <div class="product-list__no-results">
                    <mat-icon class="product-list__no-results-icon">search_off</mat-icon>
                    {{ 'PRODUCT_LIST.NO_PRODUCTS_FOUND' | translate }}
                </div>
            }
        }

        @if (productData.totalPages > 1) {
            <fd-ui-pagination class="product-list__pagination"
                [length]="productData.totalItems"
                [pageSize]="pageSize"
                [pageIndex]="currentPageIndex"
                (pageIndexChange)="onPageChange($event)"
             />
        }
    </fd-page-body>
</div>
