:host {
    display: flex;
    flex-direction: column;
    background: var(--fd-bg-landing-page);
    --tui-chart-categorical-00: var(--fd-color-chart-proteins);
    --tui-chart-categorical-01: var(--fd-color-chart-fats);
    --tui-chart-categorical-02: var(--fd-color-chart-carbs);
}

.landing-main {
    display: flex;
    flex-direction: column;
}

.landing-main__preview-placeholder {
    min-height: 400px;
}
