<div class="consumption-list" fdPageContainer #container>
    <fd-page-header
        class="consumption-list__header"
        [title]="'CONSUMPTION_LIST.TITLE' | translate"
        [subtitle]="'CONSUMPTION_LIST.SUBTITLE' | translate"
    >
        <ng-container fdPageHeaderActions>
            <div class="consumption-list__search-group">
                <form [formGroup]="searchForm" class="consumption-list__date-range-form">
                    <fd-ui-date-range-input formControlName="dateRange"
                        class="consumption-list__date-input"
                        [label]="'CONSUMPTION_LIST.CHOOSE_DATES' | translate"
                        [startPlaceholder]="'CONSUMPTION_LIST.DATE_PLACEHOLDER' | translate"
                        [endPlaceholder]="'CONSUMPTION_LIST.DATE_PLACEHOLDER' | translate"
                        [hideSubscript]="true"
                     />
                </form>
            </div>
            <fd-ui-button
                class="consumption-list__add-button"
                icon="add"
                (click)="goToConsumptionAdd()"
            >
                {{ 'CONSUMPTION_LIST.ADD_CONSUMPTION_BUTTON' | translate }}
            </fd-ui-button>
        </ng-container>
    </fd-page-header>

    <fd-page-body>
        @if (consumptionData.isLoading()) {
            <fd-ui-loader class="consumption-list__loader" />
        } @else {
            @if (consumptionData.items().length === 0) {
                <div class="consumption-list__no-results">
                    <mat-icon class="consumption-list__no-results-icon">search_off</mat-icon>
                    {{ 'CONSUMPTION_LIST.NO_CONSUMPTIONS_FOUND' | translate }}
                </div>
            }

            @for (consumption of consumptionData.items(); track consumption) {
                <fd-meal-card
                    class="consumption-card"
                    [meal]="consumption"
                    (open)="openConsumptionDetails(consumption)"
                />
            }
        }

        @if (consumptionData.totalPages > 1) {
            <fd-ui-pagination class="consumption-list__pagination"
                [length]="consumptionData.totalItems"
                [pageSize]="10"
                [pageIndex]="currentPageIndex"
                (pageIndexChange)="onPageChange($event)"
             />
        }
    </fd-page-body>
</div>
