<div class="consumption-list" fdPageContainer #container>
    <fd-page-header
        class="consumption-list__header"
        [title]="'CONSUMPTION_LIST.TITLE' | translate"
        [subtitle]="'CONSUMPTION_LIST.SUBTITLE' | translate"
    >
        <ng-container fdPageHeaderActions>
            <div class="consumption-list__controls">
                <form [formGroup]="searchForm" class="consumption-list__date-range-form">
                    <fd-ui-date-range-input formControlName="dateRange"
                        class="consumption-list__date-input"
                        [label]="''"
                        [startPlaceholder]="'CONSUMPTION_LIST.DATE_PLACEHOLDER' | translate"
                        [endPlaceholder]="'CONSUMPTION_LIST.DATE_PLACEHOLDER' | translate"
                        [hideSubscript]="true"
                     />
                </form>

                <div class="consumption-list__actions">
                    <fd-ui-button
                        class="consumption-list__pill consumption-list__pill--ghost"
                        icon="add"
                        variant="primary"
                        fill="solid"
                        (click)="goToConsumptionAdd()"
                    >
                        {{ 'CONSUMPTION_LIST.ADD_CONSUMPTION_BUTTON' | translate }}
                    </fd-ui-button>
                </div>
            </div>
        </ng-container>
    </fd-page-header>

    <fd-page-body>
        @if (consumptionData.isLoading()) {
            <fd-ui-loader class="consumption-list__loader" />
        } @else {
            @if (consumptionData.items().length === 0) {
                <div class="consumption-list__no-results">
                    <mat-icon class="consumption-list__no-results-icon">search_off</mat-icon>
                    {{ 'CONSUMPTION_LIST.NO_CONSUMPTIONS_FOUND' | translate }}
                </div>
            }

            <div class="consumption-list__groups">
                @for (group of groupedConsumptions(); track group.date) {
                    <div class="consumption-list__day">
                        <div class="consumption-list__day-header">
                            <span class="consumption-list__day-label">
                                {{ group.date | localizedDate:'d MMMM y' }}
                            </span>
                            <span class="consumption-list__day-line"></span>
                        </div>
                        <div class="consumption-list__grid">
                            @for (consumption of group.items; track consumption) {
                                <fd-meal-card
                                    class="consumption-card"
                                    [meal]="consumption"
                                    (open)="openConsumptionDetails(consumption)"
                                />
                            }
                        </div>
                    </div>
                }
            </div>
        }

        @if (consumptionData.totalPages > 1) {
            <fd-ui-pagination class="consumption-list__pagination"
                [length]="consumptionData.totalItems"
                [pageSize]="10"
                [pageIndex]="currentPageIndex"
                (pageIndexChange)="onPageChange($event)"
             />
        }
    </fd-page-body>
</div>
