<fd-ui-dialog [title]="recipe.name" size="lg" class="recipe-detail">
    <div class="recipe-detail__body">
        <div class="recipe-detail__info">
            <p class="recipe-detail__text">
                <span class="recipe-detail__property-name">{{ 'RECIPE_DETAIL.PREP_TIME' | translate }}:</span>
                @if (getTotalPreparationTime() !== null) {
                    {{ getTotalPreparationTime() }} {{ 'RECIPE_DETAIL.MIN' | translate }}
                } @else {
                    -
                }
            </p>
            <p class="recipe-detail__text">
                <span class="recipe-detail__property-name">{{ 'RECIPE_DETAIL.INGREDIENTS_COUNT' | translate }}:</span>
                {{ getIngredientCount() }}
            </p>
        </div>

        <fd-nutrients-summary [calories]="calories"
            [nutrientChartData]="nutrientChartData"
            [config]="nutrientSummaryConfig"
            [fiberValue]="fiberValueComputed"
            fiberUnitKey="PRODUCT_AMOUNT_UNITS_SHORT.G"
         />
    </div>

    <div fdUiDialogFooter class="recipe-detail__footer">
        <div class="recipe-detail__actions">
            @if (canModify) {
                <fd-ui-button icon="edit" (click)="onEdit()">
                    {{ 'RECIPE_DETAIL.EDIT_BUTTON' | translate }}
                </fd-ui-button>
                <fd-ui-button
                    variant="danger"
                    icon="delete"
                    [disabled]="isDeleteDisabled"
                    (click)="onDelete()"
                >
                    {{ 'RECIPE_DETAIL.DELETE_BUTTON' | translate }}
                </fd-ui-button>
            } @else {
                <fd-ui-button icon="copy" [disabled]="isDuplicateInProgress" (click)="onDuplicate()">
                    {{ 'RECIPE_DETAIL.DUPLICATE_BUTTON' | translate }}
                </fd-ui-button>
            }
        </div>

        @if (warningMessage) {
            <p class="recipe-detail__warning">{{ warningMessage | translate }}</p>
        }
    </div>
</fd-ui-dialog>
