<footer class="footer">
    <div class="container">
        <div class="footer-sections">
            <div class="footer-section">
                <h4>{{ 'FOOTER.CONTACTS.TITLE' | translate }}</h4>
                <p>{{ 'FOOTER.CONTACTS.EMAIL' | translate }}</p>
                <p>{{ 'FOOTER.CONTACTS.PHONE' | translate }}</p>
            </div>
            <div class="footer-section">
                <h4>{{ 'FOOTER.NAVIGATION.TITLE' | translate }}</h4>
                <ul>
                    <li>
                        <a href="#">{{ 'FOOTER.NAVIGATION.HOME' | translate }}</a>
                    </li>
                    <li>
                        <a href="#">{{ 'FOOTER.NAVIGATION.DIARY' | translate }}</a>
                    </li>
                    <li>
                        <a href="#">{{ 'FOOTER.NAVIGATION.RECIPES' | translate }}</a>
                    </li>
                    <li>
                        <a href="#">{{ 'FOOTER.NAVIGATION.COMMUNITY' | translate }}</a>
                    </li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>{{ 'FOOTER.FOLLOW_US.TITLE' | translate }}</h4>
                <div class="social-icons">
                    <a href="#"><img src="../assets/images/footer/facebook.svg" alt="{{ 'FOOTER.FOLLOW_US.FACEBOOK' | translate }}" /></a>
                    <a href="#"><img src="../assets/images/footer/instagram.svg" alt="{{ 'FOOTER.FOLLOW_US.INSTAGRAM' | translate }}" /></a>
                    <a href="#"><img src="../assets/images/footer/linkedin.svg" alt="{{ 'FOOTER.FOLLOW_US.LINKEDIN' | translate }}" /></a>
                    <a href="#"><img src="../assets/images/footer/telegram.svg" alt="{{ 'FOOTER.FOLLOW_US.TELEGRAM' | translate }}" /></a>
                    <a href="#"><img src="../assets/images/footer/vk.svg" alt="{{ 'FOOTER.FOLLOW_US.VK' | translate }}" /></a>
                    <a href="#"><img src="../assets/images/footer/youtube.svg" alt="{{ 'FOOTER.FOLLOW_US.YOUTUBE' | translate }}" /></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>{{ 'FOOTER.BOTTOM.COPYRIGHT' | translate }}</p>
            <a href="#">{{ 'FOOTER.BOTTOM.PRIVACY_POLICY' | translate }}</a> |
            <a href="#">{{ 'FOOTER.BOTTOM.TERMS_OF_USE' | translate }}</a>
        </div>
    </div>
</footer>
