<div class="nutrient-badges">
    <span class="nutrient-badges__chip nutrient-badges__chip--protein">
        <fd-ui-icon class="nutrient-badges__chip-icon" name="fitness_center" />
        <span class="nutrient-badges__chip-value fd-ui-body-sm">
            {{ proteins() | number: '1.0-0' }}<span class="nutrient-badges__unit">{{ 'GENERAL.UNITS.G' | translate }}</span>
        </span>
    </span>
    <span class="nutrient-badges__chip nutrient-badges__chip--fat">
        <fd-ui-icon class="nutrient-badges__chip-icon" name="opacity" />
        <span class="nutrient-badges__chip-value fd-ui-body-sm">
            {{ fats() | number: '1.0-0' }}<span class="nutrient-badges__unit">{{ 'GENERAL.UNITS.G' | translate }}</span>
        </span>
    </span>
    <span class="nutrient-badges__chip nutrient-badges__chip--carb">
        <fd-ui-icon class="nutrient-badges__chip-icon" name="grain" />
        <span class="nutrient-badges__chip-value fd-ui-body-sm">
            {{ carbs() | number: '1.0-0' }}<span class="nutrient-badges__unit">{{ 'GENERAL.UNITS.G' | translate }}</span>
        </span>
    </span>
    <span class="nutrient-badges__chip nutrient-badges__chip--fiber">
        <fd-ui-icon class="nutrient-badges__chip-icon" name="spa" />
        <span class="nutrient-badges__chip-value fd-ui-body-sm">
            {{ fiber() | number: '1.0-0' }}<span class="nutrient-badges__unit">{{ 'GENERAL.UNITS.G' | translate }}</span>
        </span>
    </span>
    <span class="nutrient-badges__chip nutrient-badges__chip--alcohol">
        <fd-ui-icon class="nutrient-badges__chip-icon" name="wine_bar" />
        <span class="nutrient-badges__chip-value fd-ui-body-sm">
            {{ alcohol() | number: '1.0-0' }}<span class="nutrient-badges__unit">{{ 'GENERAL.UNITS.G' | translate }}</span>
        </span>
    </span>
</div>
