<fd-ui-dialog [title]="'USER_MANAGE.CHANGE_PASSWORD' | translate" size="sm" [dismissible]="false">
    <form class="change-password-dialog" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="change-password-dialog__field">
            <fd-ui-input type="password"
                formControlName="currentPassword"
                [label]="'USER_MANAGE.CURRENT_PASSWORD' | translate"
                [placeholder]="'USER_MANAGE.CURRENT_PASSWORD_PLACEHOLDER' | translate"
                floatLabel="always"
             />
            @if (getControlError('currentPassword'); as error) {
                <p class="change-password-dialog__error">{{ error }}</p>
            }
        </div>

        <div class="change-password-dialog__field">
            <fd-ui-input type="password"
                formControlName="newPassword"
                [label]="'USER_MANAGE.NEW_PASSWORD' | translate"
                [placeholder]="'USER_MANAGE.NEW_PASSWORD_PLACEHOLDER' | translate"
                floatLabel="always"
             />
            @if (getControlError('newPassword'); as error) {
                <p class="change-password-dialog__error">{{ error }}</p>
            }
        </div>

        <div class="change-password-dialog__field">
            <fd-ui-input type="password"
                formControlName="confirmPassword"
                [label]="'USER_MANAGE.CONFIRM_NEW_PASSWORD' | translate"
                [placeholder]="'USER_MANAGE.CONFIRM_NEW_PASSWORD_PLACEHOLDER' | translate"
                floatLabel="always"
             />
            @if (getControlError('confirmPassword'); as error) {
                <p class="change-password-dialog__error">{{ error }}</p>
            }
        </div>

        @if (passwordError()) {
            <p class="change-password-dialog__submit-error">{{ passwordError() }}</p>
        }

        <div fdUiDialogFooter class="change-password-dialog__footer">
            <fd-ui-button type="button" fill="outline" variant="primary" (click)="onCancel()">
                {{ 'USER_MANAGE.CHANGE_PASSWORD_CANCEL' | translate }}
            </fd-ui-button>
            <fd-ui-button type="submit" icon="save" [disabled]="isSubmitting()">
                {{ 'USER_MANAGE.CHANGE_PASSWORD_SAVE' | translate }}
            </fd-ui-button>
        </div>
    </form>
</fd-ui-dialog>
