<fd-ui-dialog
    [title]="data.titleKey | translate"
    [subtitle]="data.subtitleKey ? (data.subtitleKey | translate) : undefined"
    size="lg"
>
    <fd-ui-satiety-scale
        layout="grid"
        [label]="getSelectionLabel()"
        [hint]="'CONSUMPTION_MANAGE.SATIETY_DIALOG_SUBHINT' | translate"
        [ngModel]="selectedValue()"
        (ngModelChange)="onValueSelected($event)"
    ></fd-ui-satiety-scale>

    <div fdUiDialogFooter>
        <fd-ui-button variant="secondary" fill="text" size="sm" (click)="close()">
            {{ 'CONSUMPTION_MANAGE.SATIETY_DIALOG_CANCEL' | translate }}
        </fd-ui-button>
        <fd-ui-button size="sm" (click)="closeWithValue()" [disabled]="selectedValue() === null">
            {{ 'CONSUMPTION_MANAGE.SATIETY_DIALOG_APPLY' | translate }}
        </fd-ui-button>
    </div>
</fd-ui-dialog>
