@use 'mixins' as *;
@use 'variables' as *;

:host {
    @include host-style('/assets/images/background.webp');
}

.user-manage {
    margin: 0 auto;
    box-sizing: border-box;

    &__header {
        margin-bottom: $gap-m;
    }

    &__title {
        color: $color-text-main;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: $gap-m;
    }

    &__card {
        display: flex;
        flex-direction: column;
        gap: $gap-m;
    }

    &__card-content {
        display: grid;
        gap: $gap-m;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));

        &--account {
            grid-template-columns: minmax(0, 3fr) auto;
            align-items: end;

            @media #{$media-tablet} {
                grid-template-columns: 1fr;
            }
        }

        &--personal {
            grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        }

        &--body {
            grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        }

        &--nutrition {
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }
    }

    &__actions {
        display: flex;
        justify-content: center;
        margin-top: $gap-m;
    }

    &__error {
        color: red;
        font-size: 0.9em;
        text-align: center;
    }

    &__dialog {
        padding: $gap-l;
        text-align: center;
        display: flex;
        flex-direction: column;

        &-title {
            font-size: 1.8em;
            font-weight: bold;
            color: $color-text-main;
            margin: 0 0 54px;
        }

        &-actions {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: $gap-xl;

            &--inline {
                flex-direction: row;
                justify-content: flex-end;
                gap: $gap-m;
                flex-wrap: wrap;

                .user-manage__dialog-button {
                    flex: 1 1 0;
                    width: auto;
                    min-width: 160px;
                }
            }
        }

        &-button {
            width: 100%;
        }

        &-fields {
            display: flex;
            flex-direction: column;
            gap: $gap-m;
            margin-bottom: $gap-m;
        }
    }

    &__danger {
        display: flex;
        justify-content: center;
        margin-top: $gap-s;
    }
}
