<div class="user-manage" fdPageContainer>
    <fd-page-header
        class="user-manage__header"
        [title]="'USER_MANAGE.EDIT_TITLE' | translate"
        [subtitle]="'USER_MANAGE.EDIT_SUBTITLE' | translate"
    >
        <ng-container fdPageHeaderActions>
            <fd-ui-button
                class="user-manage__header-action user-manage__header-action--ghost"
                type="button"
                fill="outline"
                variant="secondary"
                (click)="resetForm()"
            >
                {{ 'COMMON.CANCEL' | translate }}
            </fd-ui-button>
            <fd-ui-button
                class="user-manage__header-action user-manage__header-action--primary"
                type="button"
                icon="save"
                (click)="onSubmit()"
            >
                {{ 'COMMON.SAVE' | translate }}
            </fd-ui-button>
        </ng-container>
    </fd-page-header>

    <fd-page-body>
        <form class="user-manage__form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <div class="user-manage__stack">
                <fd-ui-card class="user-manage__card user-manage__card--account">
                    <div class="user-manage__card-header">
                        <div class="user-manage__card-icon user-manage__card-icon--account"></div>
                        <div class="user-manage__card-text">
                            <div class="user-manage__card-title">{{ 'USER_MANAGE.ACCOUNT_SECTION' | translate }}</div>
                            <div class="user-manage__card-subtitle">
                                {{ 'USER_MANAGE.ACCOUNT_DESC' | translate }}
                            </div>
                        </div>
                    </div>
                    <div class="user-manage__account">
                        <div class="user-manage__avatar-block">
                            <div class="image-upload-field__label-block">
                                <div class="image-upload-field__label-title">{{ 'USER_MANAGE.AVATAR' | translate }}</div>
                            </div>
                            <fd-image-upload-field
                                class="user-manage__avatar"
                                formControlName="profileImage"
                                [description]="'USER_MANAGE.AVATAR_DESC' | translate"
                                [recommendedSize]="'512 x 512'"
                                [maxSizeMb]="5"
                                [acceptedTypes]="'image/png,image/jpeg,image/webp'"
                                [cropEnabled]="true"
                                [cropSize]="512"
                                [cropAspectRatio]="1"
                                [deleteOnClear]="true"
                            />
                        </div>
                        <div class="user-manage__account-fields">
                            <div class="user-manage__account-row">
                                <fd-ui-plain-input
                                    class="user-manage__account-row-field"
                                    formControlName="email"
                                    type="email"
                                    size="lg"
                                    [label]="'USER_MANAGE.EMAIL' | translate"
                                    [placeholder]="'USER_MANAGE.EMAIL_PLACEHOLDER' | translate"
                                 />
                                <fd-ui-plain-input
                                    class="user-manage__account-row-field"
                                    formControlName="username"
                                    size="lg"
                                    [label]="'USER_MANAGE.USERNAME' | translate"
                                    [placeholder]="'USER_MANAGE.USERNAME_PLACEHOLDER' | translate"
                                 />
                            </div>
                            <div class="user-manage__account-row">
                                <fd-ui-plain-input
                                    class="user-manage__account-row-field"
                                    formControlName="firstName"
                                    size="lg"
                                    [label]="'USER_MANAGE.FIRST_NAME' | translate"
                                    [placeholder]="'USER_MANAGE.FIRST_NAME_PLACEHOLDER' | translate"
                                 />
                                <fd-ui-plain-input
                                    class="user-manage__account-row-field"
                                    formControlName="lastName"
                                    size="lg"
                                    [label]="'USER_MANAGE.LAST_NAME' | translate"
                                    [placeholder]="'USER_MANAGE.LAST_NAME_PLACEHOLDER' | translate"
                                 />
                            </div>
                            <div class="user-manage__account-row">
                                <fd-ui-plain-date-input
                                    class="user-manage__account-row-field"
                                    formControlName="birthDate"
                                    size="lg"
                                    [label]="'USER_MANAGE.BIRTH_DATE' | translate"
                                    [placeholder]="'USER_MANAGE.BIRTH_DATE_PLACEHOLDER' | translate"
                                 />
                                <fd-ui-plain-select
                                    class="user-manage__account-row-field"
                                    formControlName="gender"
                                    size="lg"
                                    [label]="'USER_MANAGE.GENDER' | translate"
                                    [placeholder]="'USER_MANAGE.SELECT_GENDER' | translate"
                                    [options]="genderOptions"
                                 />
                            </div>
                            <div class="user-manage__account-row">
                                <fd-ui-plain-select
                                    class="user-manage__account-row-field"
                                    formControlName="language"
                                    size="lg"
                                    [label]="'USER_MANAGE.LANGUAGE' | translate"
                                    [placeholder]="'USER_MANAGE.LANGUAGE_PLACEHOLDER' | translate"
                                    [options]="languageOptions"
                                 />
                                <div class="user-manage__link-button">
                                    <fd-ui-button
                                        type="button"
                                        fill="outline"
                                        variant="secondary"
                                        icon="lock"
                                        (click)="openChangePasswordDialog()"
                                    >
                                        {{ 'USER_MANAGE.CHANGE_PASSWORD' | translate }}
                                    </fd-ui-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </fd-ui-card>

                <fd-ui-card class="user-manage__card user-manage__card--body">
                    <div class="user-manage__card-header">
                        <div class="user-manage__card-icon user-manage__card-icon--body"></div>
                        <div class="user-manage__card-text">
                            <div class="user-manage__card-title">{{ 'USER_MANAGE.BODY_SECTION' | translate }}</div>
                        </div>
                    </div>
                    <div class="user-manage__body">
                        <fd-ui-plain-input
                            formControlName="height"
                            type="number"
                            size="lg"
                            [label]="'USER_MANAGE.HEIGHT' | translate"
                            [placeholder]="'USER_MANAGE.HEIGHT_PLACEHOLDER' | translate"
                         />
                        <fd-ui-plain-select
                            formControlName="activityLevel"
                            size="lg"
                            [label]="'USER_MANAGE.ACTIVITY_LEVEL' | translate"
                            [placeholder]="'USER_MANAGE.SELECT_ACTIVITY_LEVEL' | translate"
                            [options]="activityLevelOptions"
                         />
                    </div>
                </fd-ui-card>
            </div>

            <fd-ui-form-error class="user-manage__error" [error]="globalError()" />
            <div class="user-manage__danger">
                <fd-ui-button
                    type="button"
                    variant="danger"
                    fill="outline"
                    icon="delete"
                    [disabled]="isDeleting()"
                    (click)="onDeleteAccount()"
                >
                    {{ 'USER_MANAGE.DELETE_ACCOUNT_BUTTON' | translate }}
                </fd-ui-button>
            </div>
        </form>
    </fd-page-body>
</div>
