<fd-ui-dialog
    [title]="product.name"
    [subtitle]="product.barcode ? '[' + product.barcode + ']' : undefined"
    size="lg"
>
    <div class="product-detail">
        <div class="product-detail__info">
            <p class="product-detail__text">
                <span class="product-detail__label">{{ 'PRODUCT_DETAIL.PRODUCT_TYPE' | translate }}</span>
                {{ productTypeKey | translate }}
            </p>
            <p class="product-detail__text">
                <span class="product-detail__label">{{ 'PRODUCT_DETAIL.BASE_AMOUNT' | translate }}</span>
                {{ product.baseAmount }}
                {{ ('PRODUCT_AMOUNT_UNITS_SHORT.' + product.baseUnit) | translate }}
            </p>
        </div>
        <fd-nutrients-summary [calories]="calories"
            [nutrientChartData]="nutrientChartData"
            [config]="nutrientSummaryConfig"
            [fiberValue]="product.fiberPerBase"
            [fiberUnitKey]="'PRODUCT_AMOUNT_UNITS_SHORT.' + product.baseUnit"
         />
    </div>

    <div fdUiDialogFooter class="product-detail__footer">
        @if (canModify) {
            <fd-ui-button size="sm" variant="secondary" icon="edit" (click)="onEdit()">
                {{ 'PRODUCT_DETAIL.EDIT_BUTTON' | translate }}
            </fd-ui-button>
            <fd-ui-button size="sm" variant="danger" icon="delete" (click)="onDelete()">
                {{ 'PRODUCT_DETAIL.DELETE_BUTTON' | translate }}
            </fd-ui-button>
        } @else {
            <fd-ui-button
                size="sm"
                variant="secondary"
                fill="outline"
                icon="content_copy"
                [disabled]="isDuplicateInProgress"
                (click)="onDuplicate()"
            >
                {{ 'PRODUCT_DETAIL.DUPLICATE_BUTTON' | translate }}
            </fd-ui-button>
        }
    </div>

    @if (warningMessage) {
        <p class="product-detail__warning">{{ warningMessage | translate }}</p>
    }
</fd-ui-dialog>
