@import 'variables';

.fd-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    &__header,
    &__content,
    &__footer {
        flex-shrink: 0;
    }

    &__content {
        flex-grow: 1;
    }

    &__footer {
        display: block;
    }
}

@media @media-mobile {
    .fd-root__footer {
        display: none;
    }
}
