<div class="lessons-list" fdPageContainer>
    <header class="lessons-list__header">
        <h1 class="lessons-list__title fd-ui-display-sm">{{ 'LESSONS.TITLE' | translate }}</h1>
        <p class="lessons-list__subtitle fd-page-subtitle">{{ 'LESSONS.SUBTITLE' | translate }}</p>
        <fd-lessons-list-progress [progress]="progress()" />
    </header>

    <fd-lessons-list-filters [selectedCategory]="facade.categoryFilter()" (filterChange)="filterByCategory($event)" />

    <fd-page-body>
        <fd-lessons-list-grid [isLoading]="facade.isLoading()" [lessons]="lessons()" (lessonOpen)="openLesson($event)" />
    </fd-page-body>
</div>
