<fd-ui-dialog class="meal-list-filters-dialog" [title]="'CONSUMPTION_LIST.FILTERS_TITLE' | translate">
    <fd-ui-date-range-input
        [formControl]="dateRangeControl"
        class="meal-list-filters-dialog__date-range"
        [startLabel]="'CONSUMPTION_LIST.DATE_FILTER_FROM_LABEL' | translate"
        [endLabel]="'CONSUMPTION_LIST.DATE_FILTER_TO_LABEL' | translate"
        [startPlaceholder]="'CONSUMPTION_LIST.DATE_FROM_PLACEHOLDER' | translate"
        [endPlaceholder]="'CONSUMPTION_LIST.DATE_TO_PLACEHOLDER' | translate"
    />

    <div fdUiDialogFooter class="meal-list-filters-dialog__footer">
        <fd-ui-button type="button" variant="secondary" fill="ghost" (click)="onReset()">
            {{ 'CONSUMPTION_LIST.FILTER_RESET_BUTTON' | translate }}
        </fd-ui-button>
        <fd-ui-button type="button" variant="secondary" fill="ghost" (click)="onCancel()">
            {{ 'COMMON.CANCEL' | translate }}
        </fd-ui-button>
        <fd-ui-button type="button" variant="primary" fill="solid" (click)="onApply()">
            {{ 'CONSUMPTION_LIST.FILTER_APPLY_BUTTON' | translate }}
        </fd-ui-button>
    </div>
</fd-ui-dialog>
