<div class="product-manage">
    <h2 class="product-manage__title">
        @if (product()) {
            {{ 'PRODUCT_MANAGE.EDIT_TITLE' | translate }}
        } @else {
            {{ 'PRODUCT_MANAGE.ADD_TITLE' | translate }}
        }
    </h2>
    <form class="product-manage__form" [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <div class="product-manage__field product-manage__field--name">
            <tui-textfield type="text">
                <label tuiLabel>{{ 'PRODUCT_MANAGE.NAME' | translate }}*</label>
                <input
                    formControlName="name"
                    tuiTextfield
                    tuiTextfieldSize="m"
                    placeholder="{{ 'PRODUCT_MANAGE.NAME_PLACEHOLDER' | translate }}"
                />
            </tui-textfield>
            <tui-error
                formControlName="name"
                [error]="[] | tuiFieldError | async"
            ></tui-error>
        </div>
        <div class="product-manage__field product-manage__field--barcode">
            <tui-textfield type="text">
                <label tuiLabel>{{ 'PRODUCT_MANAGE.BARCODE' | translate }}</label>
                <input
                    formControlName="barcode"
                    tuiTextfield
                    placeholder="{{ 'PRODUCT_MANAGE.BARCODE_PLACEHOLDER' | translate }}"
                />
                <tui-icon
                    icon="@tui.barcode"
                    (click)="openBarcodeScanner()"
                />
            </tui-textfield>
            <tui-error
                formControlName="barcode"
                [error]="[] | tuiFieldError | async"
            ></tui-error>
        </div>
        <div class="product-manage__field product-manage__field--category">
            <tui-textfield type="text">
                <label tuiLabel>{{ 'PRODUCT_MANAGE.CATEGORY' | translate }}</label>
                <input
                    formControlName="category"
                    tuiTextfield
                    placeholder="{{ 'PRODUCT_MANAGE.CATEGORY_PLACEHOLDER' | translate }}"
                />
            </tui-textfield>
            <tui-error
                formControlName="category"
                [error]="[] | tuiFieldError | async"
            ></tui-error>
        </div>
        <div class="product-manage__serving">
            <div class="product-manage__serving-part product-manage__serving-part--amount">
                <tui-input-number
                    formControlName="baseAmount"
                >
                    {{ 'PRODUCT_MANAGE.DEFAULT_SERVING' | translate }}*
                    <input
                        placeholder="{{ 'PRODUCT_MANAGE.DEFAULT_SERVING_PLACEHOLDER' | translate }}"
                        tuiTextfieldLegacy
                    />
                </tui-input-number>
                <tui-error
                    formControlName="baseAmount"
                    [error]="[] | tuiFieldError | async"
                ></tui-error>
            </div>
            <div class="product-manage__serving-part product-manage__serving-part--unit">
                <tui-select
                    formControlName="baseUnit"
                    [tuiTextfieldLabelOutside]="true"
                    [stringify]="stringifyUnits"
                >
                    {{ 'PRODUCT_MANAGE.DEFAULT_SERVING_UNIT' | translate }}*
                    <input
                        placeholder="0"
                        tuiTextfieldLegacy
                    />
                    <ng-template tuiDataList>
                        <tui-data-list>
                            @for (unit of units; track unit;) {
                                <button
                                    tuiOption
                                    [value]="unit"
                                >
                                    {{ ('PRODUCT_AMOUNT_UNITS.' + Unit[unit]) | translate }}
                                </button>
                            }
                        </tui-data-list>
                    </ng-template>
                </tui-select>
                <tui-error
                    formControlName="baseUnit"
                    [error]="[] | tuiFieldError | async"
                ></tui-error>
            </div>
        </div>
        <fd-custom-group
            [title]="'PRODUCT_MANAGE.NUTRITION_VALUE' | translate"
        >
            <div class="product-manage__nutrients-group">
                <div class="product-manage__field">
                    <tui-input-number
                        formControlName="caloriesPerBase"
                    >
                        {{ 'PRODUCT_MANAGE.CALORIES' | translate }} {{ getDynamicNutrientPlaceholder }}*
                        <input
                            placeholder="0"
                            tuiTextfieldLegacy
                        />
                    </tui-input-number>
                    <tui-error
                        formControlName="caloriesPerBase"
                        [error]="[] | tuiFieldError | async"
                    ></tui-error>
                </div>
                <div class="product-manage__macronutrients">
                    <div class="product-manage__macronutrient">
                        <tui-input-number formControlName="proteinsPerBase">
                            {{ 'PRODUCT_MANAGE.PROTEINS' | translate }} {{ getDynamicNutrientPlaceholder }}*
                            <input
                                placeholder="0"
                                tuiTextfieldLegacy
                            />
                        </tui-input-number>
                        <tui-error
                            formControlName="proteinsPerBase"
                            [error]="[] | tuiFieldError | async"
                        ></tui-error>
                    </div>
                    <div class="product-manage__macronutrient">
                        <tui-input-number formControlName="fatsPerBase">
                            {{ 'PRODUCT_MANAGE.FATS' | translate }} {{ getDynamicNutrientPlaceholder }}*
                            <input
                                placeholder="0"
                                tuiTextfieldLegacy
                            />
                        </tui-input-number>
                        <tui-error
                            formControlName="fatsPerBase"
                            [error]="[] | tuiFieldError | async"
                        ></tui-error>
                    </div>
                    <div class="product-manage__macronutrient">
                        <tui-input-number formControlName="carbsPerBase">
                            {{ 'PRODUCT_MANAGE.CARBS' | translate }} {{ getDynamicNutrientPlaceholder }}*
                            <input
                                placeholder="0"
                                tuiTextfieldLegacy
                            />
                        </tui-input-number>
                        <tui-error
                            formControlName="carbsPerBase"
                            [error]="[] | tuiFieldError | async"
                        ></tui-error>
                    </div>
                    <div class="product-manage__macronutrient">
                        <tui-input-number formControlName="fiberPerBase">
                            {{ 'PRODUCT_MANAGE.FIBER' | translate }} {{ getDynamicNutrientPlaceholder }}*
                            <input
                                placeholder="0"
                                tuiTextfieldLegacy
                            />
                        </tui-input-number>
                        <tui-error
                            formControlName="fiberPerBase"
                            [error]="[] | tuiFieldError | async"
                        ></tui-error>
                    </div>
                </div>
            </div>
        </fd-custom-group>
        <fd-custom-group [title]="'PRODUCT_MANAGE.VISIBILITY_GROUP_TITLE' | translate">
            <div class="product-manage__field product-manage__field--visibility">
                <tui-select
                    formControlName="visibility"
                    [tuiTextfieldLabelOutside]="true"
                    [stringify]="stringifyVisibility"
                >
                    {{ 'PRODUCT_MANAGE.VISIBILITY' | translate }}*
                    <input
                        placeholder="{{ 'PRODUCT_MANAGE.VISIBILITY_PLACEHOLDER' | translate }}"
                        tuiTextfieldLegacy
                    />
                    <ng-template tuiDataList>
                        <tui-data-list>
                            @for (option of visibilityOptions; track option;) {
                                <button tuiOption [value]="option">
                                    {{ ('PRODUCT_MANAGE.VISIBILITY_OPTIONS.' + option.toUpperCase()) | translate }}
                                </button>
                            }
                        </tui-data-list>
                    </ng-template>
                </tui-select>
                <tui-error
                    formControlName="visibility"
                    [error]="[] | tuiFieldError | async"
                ></tui-error>
            </div>
        </fd-custom-group>
        <fd-nutrients-summary
            [calories]="calories()"
            [nutrientChartData]="nutrientChartData()"
            [config]="nutrientSummaryConfig"
            [fiberValue]="productForm.controls.fiberPerBase.value ?? 0"
            [fiberUnitKey]="
                productForm.controls.baseUnit.value
                    ? 'PRODUCT_AMOUNT_UNITS_SHORT.' + productForm.controls.baseUnit.value
                    : 'PRODUCT_AMOUNT_UNITS_SHORT.G'
            "
        ></fd-nutrients-summary>

        <div class="product-manage__actions">
            @if (product()) {
                <button
                    type="submit"
                    class="product-manage__action-button"
                    tuiButton
                    appearance="primary"
                    iconStart="@tui.save"
                >
                    {{ 'PRODUCT_MANAGE.SAVE_BUTTON' | translate }}
                </button>
            } @else {
                <button
                    type="submit"
                    class="product-manage__action-button"
                    tuiButton
                    appearance="primary"
                    iconStart="@tui.plus"
                >
                    {{ 'PRODUCT_MANAGE.ADD_BUTTON' | translate }}
                </button>
            }
            <tui-error [error]="globalError()"></tui-error>
        </div>
    </form>
</div>

<ng-template #confirmDialog let-observer>
    <div class="product-manage__dialog">
        <p class="product-manage__dialog-title">
            @if (product()) {
                {{ 'PRODUCT_DETAIL.EDIT_SUCCESS' | translate }}
            } @else {
                {{ 'PRODUCT_DETAIL.CREATE_SUCCESS' | translate }}
            }
        </p>
        <div class="product-manage__dialog-buttons">
            <button tuiButton size="m" (click)="observer.next('Home'); observer.complete()">
                {{ 'PRODUCT_DETAIL.GO_TO_HOME_BUTTON' | translate }}
            </button>
            <button tuiButton size="m" (click)="observer.next('ProductList'); observer.complete()">
                {{ 'PRODUCT_DETAIL.GO_TO_PRODUCT_LIST_BUTTON' | translate }}
            </button>
        </div>
    </div>
</ng-template>




