<fd-ui-dialog class="product-list-filters-dialog" [title]="'PRODUCT_LIST.FILTERS_TITLE' | translate">
    <fd-ui-segmented-toggle
        class="product-list-filters-dialog__visibility"
        [options]="visibilityOptions"
        [selectedValue]="visibilityValue"
        [fdUiHint]="'PRODUCT_LIST.FILTERS_TITLE' | translate"
        [ariaLabel]="'PRODUCT_LIST.FILTERS_TITLE' | translate"
        (selectedValueChange)="onVisibilityChange($event)"
    />

    <section class="product-list-filters-dialog__section fd-grid fd-gap-xs">
        <h3 class="product-list-filters-dialog__section-title">{{ 'PRODUCT_LIST.FILTER_CATEGORIES' | translate }}</h3>
        <fd-ui-chip-select
            class="product-list-filters-dialog__types"
            size="sm"
            [options]="productTypeOptions()"
            [ariaLabel]="'PRODUCT_LIST.FILTER_CATEGORIES' | translate"
            [selectedValues]="selectedTypeValues()"
            (selectedValuesChange)="onSelectedTypesChange($event)"
        />
    </section>

    <div fdUiDialogFooter class="product-list-filters-dialog__footer fd-row fd-gap-xs fd-justify-end">
        <fd-ui-button type="button" variant="secondary" fill="ghost" (click)="onCancel()">
            {{ 'COMMON.CANCEL' | translate }}
        </fd-ui-button>
        <fd-ui-button type="button" variant="primary" fill="solid" (click)="onApply()">
            {{ 'PRODUCT_LIST.FILTER_APPLY_BUTTON' | translate }}
        </fd-ui-button>
    </div>
</fd-ui-dialog>
