<div class="dynamic-progress-bar-wrapper">
    <div class="dynamic-progress-bar fd-ui-progress-track">
        <div class="dynamic-progress-bar-line fd-ui-progress-fill" [ngStyle]="{ width: progressBarWidth(), backgroundColor: barColor() }">
            <div class="dynamic-progress-bar-title fd-ui-stat-value" [ngClass]="textColorClass()" [ngStyle]="{ left: textPosition() }">
                {{ current() }} {{ unit() }} ({{ progress() }}%)
            </div>
        </div>
    </div>

    @if (progress() > 100) {
        <div class="dynamic-progress-bar-overflow-line" [ngStyle]="{ left: maxPositionOffset() }"></div>
        <div class="dynamic-progress-bar-overflow-label fd-ui-caption" [ngStyle]="{ left: maxPositionOffset() }">100%</div>
    }
</div>
