<div class="dynamic-progress-bar-wrapper">
    <div class="dynamic-progress-bar fd-ui-progress-track">
        <div class="dynamic-progress-bar-line fd-ui-progress-fill" [style.width]="progressBarWidth()" [style.background-color]="barColor()">
            <div [class]="`dynamic-progress-bar-title fd-ui-stat-value ${textColorClass()}`" [style.left]="textPosition()">
                {{ current() }} {{ unit() }} ({{ progress() }}%)
            </div>
        </div>
    </div>

    @if (progress() > 100) {
        <div class="dynamic-progress-bar-overflow-line" [style.left]="maxPositionOffset()"></div>
        <div class="dynamic-progress-bar-overflow-label fd-ui-caption" [style.left]="maxPositionOffset()">100%</div>
    }
</div>
