.consumption-item-select {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: 90vh;

    &__header {
        .fd-page-header__title-block {
            flex: 1 1 200px;

            .fd-page-title {
                font-size: 1.5rem;
                font-weight: 600;
                margin: 0;
            }
        }

        .fd-page-header__actions {
            justify-content: flex-end;
            align-items: center;
            min-width: 200px;
        }
    }

    &__tabs {
        margin-bottom: 0;
        width: 100%;
    }

    &__content {
        flex: 1;
        min-height: 0;
        overflow: auto;
    }
}
