<div class="consumption-item-select">
    <div class="consumption-item-select__header">
        <h2 class="consumption-item-select__title">
            {{ 'CONSUMPTION_MANAGE.ITEM_SELECT_DIALOG.TITLE' | translate }}
        </h2>
        <div class="consumption-item-select__actions">
            <fd-ui-tabs class="consumption-item-select__tabs"
                [tabs]="tabs"
                [(selectedValue)]="activeTab"
             />
        </div>
    </div>

    <div class="consumption-item-select__content">
        @if (activeTab === 'Product') {
            <fd-product-list-dialog [embedded]="true"
                (productSelected)="onProductSelected($event)"
             />
        } @else {
            <fd-recipe-select-dialog [embedded]="true"
                (recipeSelected)="onRecipeSelected($event)"
                (createRecipeRequested)="onCreateRecipeRequested()"
             />
        }
    </div>
</div>
