@use 'variables' as variables;

.consumption-item-select {
    display: flex;
    flex-direction: column;
    gap: variables.$gap-m;
    max-height: 70vh;

    &__tabs {
        width: 100%;
    }

    &__content {
        flex: 1;
        min-height: 0;
        overflow: auto;
    }

    &__footer {
        display: flex;
        justify-content: flex-end;
        padding-top: variables.$gap-s;
    }
}

