<div class="consumption-item-select">
    <fd-page-header class="consumption-item-select__header" [title]="'CONSUMPTION_MANAGE.ITEM_SELECT_DIALOG.TITLE' | translate">
        <ng-container fdPageHeaderActions>
            <fd-ui-tabs class="consumption-item-select__tabs"
                [tabs]="tabs"
                [(selectedValue)]="activeTab"
             />
        </ng-container>
    </fd-page-header>

    <div class="consumption-item-select__content">
        @if (activeTab === 'Product') {
            <fd-product-list-dialog [embedded]="true"
                (productSelected)="onProductSelected($event)"
             />
        } @else {
            <fd-recipe-select-dialog [embedded]="true"
                (recipeSelected)="onRecipeSelected($event)"
                (createRecipeRequested)="onCreateRecipeRequested()"
             />
        }
    </div>
</div>
