.custom-group-wrapper {
    padding-top: var(--fd-space-xs);
}

.custom-group {
    --custom-group-label-height: calc(var(--fd-size-control-xs) - var(--fd-space-xxs));
    --custom-group-label-offset: calc(var(--fd-border-width) - var(--fd-space-sm));
    --custom-group-label-inline-offset: calc(var(--fd-space-xs) + var(--fd-space-micro));
    --custom-group-button-inline-offset: calc(var(--fd-space-sm) + var(--fd-space-micro) + var(--fd-border-width));
    border: var(--fd-border-width-strong) solid var(--fd-color-border);
    border-radius: var(--fd-radius-md);
    padding: var(--fd-space-lg);
    position: relative;
    background-color: var(--custom-group-background, transparent);
}

.custom-group__title {
    position: absolute;
    top: var(--custom-group-label-offset);
    left: calc(var(--fd-space-sm) + var(--fd-border-width-strong) + var(--fd-border-width));
    background: var(--fd-bg-surface-raised);
    border: var(--fd-border-width-strong) solid var(--fd-color-border);
    border-radius: var(--fd-radius-xs);
    padding: 0 var(--fd-space-xs);
    line-height: var(--custom-group-label-height);
    color: var(--fd-color-text);
}


