<div class="custom-group-wrapper">
    <div class="custom-group">
        <div
            class="custom-group__title"
            fdDragHandle
            [ngStyle]="{ left: titleLeftOffset()}"
        >
            <span>{{ title() }}</span>

        </div>
        @if (isAccordion()) {
            <button type="button" class="custom-group__toggle" (click)="toggleAccordion()">
                {{ isOpen() ? '-' : '+' }}
            </button>
        }
        @if (showCloseButton()) {
            <div class="custom-group__button" (click)="onCloseButtonClick()">X</div>
        }
        @if (!forceCollapse()) {
            @if (isOpen() || !isAccordion()) {
                <ng-content></ng-content>
            } @else if (collapsedHint()) {
                <div class="custom-group__hint">
                    {{ collapsedHint() }}
                </div>
            }
        }
    </div>
</div>
