.recipe-list-filters-dialog {

    &__visibility {
        margin-bottom: var(--fd-space-xs);
    }

    &__footer {
        display: flex;
        justify-content: flex-end;
        gap: var(--fd-space-xs);
    }
}
