<fd-ui-dialog class="product-list-filters-dialog" [title]="'PRODUCT_LIST.FILTERS_TITLE' | translate">
    <fd-ui-segmented-toggle
        class="product-list-filters-dialog__visibility"
        [options]="visibilityOptions"
        [selectedValue]="visibilityValue"
        (selectedValueChange)="onVisibilityChange($event)"
        [fdUiHint]="'PRODUCT_LIST.FILTERS_TITLE' | translate"
        [ariaLabel]="'PRODUCT_LIST.FILTERS_TITLE' | translate"
    />

    <section class="product-list-filters-dialog__section">
        <h3 class="product-list-filters-dialog__section-title">{{ 'PRODUCT_LIST.FILTER_CATEGORIES' | translate }}</h3>
        <fd-ui-chip-select
            class="product-list-filters-dialog__types"
            [options]="productTypeOptions()"
            [(selectedValues)]="selectedTypeValues"
            [ariaLabel]="'PRODUCT_LIST.FILTER_CATEGORIES' | translate"
            size="sm"
        />
    </section>

    <div fdUiDialogFooter class="product-list-filters-dialog__footer">
        <fd-ui-button type="button" variant="secondary" fill="ghost" (click)="onCancel()">
            {{ 'COMMON.CANCEL' | translate }}
        </fd-ui-button>
        <fd-ui-button type="button" variant="primary" fill="solid" (click)="onApply()">
            {{ 'PRODUCT_LIST.FILTER_APPLY_BUTTON' | translate }}
        </fd-ui-button>
    </div>
</fd-ui-dialog>
