<fd-ui-dialog
    [title]="'BARCODE_SCANNER.TITLE' | translate"
    size="lg"
    [dismissible]="true"
>
    <div class="scanner-popup">
        <div class="scanner-popup__scanner-wrapper">
            <zxing-scanner
                [formats]="allowedScannerFormats"
                (camerasFound)="onCamerasFound($event)"
                (scanSuccess)="onScanSuccess($event)"
            ></zxing-scanner>
            @if (!isCameraReady()) {
                <div class="scanner-popup__loader-overlay">
                    @if (isCameraError()) {
                        <p class="scanner-popup__loader-error">
                            {{ 'BARCODE_SCANNER.CAMERA_ERROR' | translate }}
                        </p>
                    } @else {
                        <tui-loader></tui-loader>
                        <p class="scanner-popup__loader-info">
                            {{ 'BARCODE_SCANNER.CAMERA_INITIALIZING' | translate }}
                        </p>
                    }
                </div>
            }
        </div>
    </div>

    <div fdUiDialogFooter>
        <fd-ui-button variant="secondary" fill="text" size="sm" (click)="close()">
            {{ 'COMMON.CANCEL' | translate }}
        </fd-ui-button>
    </div>
</fd-ui-dialog>
