@use 'variables' as variables;

.auth-dialog__shell {
    --fd-dialog-shell-shadow: var(--fd-shadow-auth-dialog);
}

.auth-dialog__auth {
    display: block;
    padding: var(--fd-space-lg) var(--fd-space-lg) var(--fd-space-xl);
}

@media #{variables.$media-compact} {

    .auth-dialog__auth {
        padding: calc(var(--fd-space-lg) - var(--fd-space-micro)) var(--fd-space-md) var(--fd-space-lg);
    }
}
