<div #actionsContainer class="fd-header-actions-overflow__actions">
    <ng-content />
</div>

@if (hasOverflow()) {
    <fd-ui-button
        class="fd-header-actions-overflow__trigger"
        appearance="toolbar"
        variant="secondary"
        fill="outline"
        icon="more_vert"
        [ariaLabel]="'COMMON.MORE_ACTIONS' | translate"
        [fdUiHint]="'COMMON.MORE_ACTIONS' | translate"
        [fdUiMenuTrigger]="actionsMenu"
    />

    <fd-ui-menu #actionsMenu="fdUiMenu">
        @for (action of actions(); track action.id) {
            <fd-ui-menu-item [disabled]="action.disabled" (itemClick)="activateAction(action)">
                @if (action.icon) {
                    <fd-ui-icon [name]="action.icon" />
                }
                <span>{{ action.label }}</span>
            </fd-ui-menu-item>
        }
    </fd-ui-menu>
}
