<div #actionsContainer class="fd-header-actions-overflow__actions">
    <ng-content />
</div>

@if (hasOverflow()) {
    @if (primaryAction(); as action) {
        <fd-ui-button
            class="fd-header-actions-overflow__primary"
            appearance="toolbar"
            variant="primary"
            fill="solid"
            [icon]="action.icon ?? undefined"
            [ariaLabel]="action.label"
            [fdUiHint]="action.label"
            [disabled]="action.disabled"
            [disabledReason]="action.disabledReason"
            (click)="activateAction(action)"
        />
    }
    <fd-ui-button
        class="fd-header-actions-overflow__trigger"
        appearance="toolbar"
        variant="secondary"
        fill="outline"
        icon="more_vert"
        [ariaLabel]="'COMMON.MORE_ACTIONS' | translate"
        [fdUiHint]="'COMMON.MORE_ACTIONS' | translate"
        [fdUiMenuTrigger]="actionsMenu"
    />

    <fd-ui-menu #actionsMenu="fdUiMenu">
        @for (action of menuActions(); track action.id) {
            <fd-ui-menu-item [disabled]="action.disabled" [disabledReason]="action.disabledReason" (itemClick)="activateAction(action)">
                @if (action.icon) {
                    <fd-ui-icon [name]="action.icon" />
                }
                <span>{{ action.label }}</span>
            </fd-ui-menu-item>
        }
    </fd-ui-menu>
}
