@use 'variables' as *;

.fd-root {
    display: grid;
    grid-template-columns: 260px 1fr;
    min-height: 100vh;
    background: var(--fd-layout-page-background);
    --fd-layout-sidebar-width: 260px;

    &__sidebar {
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
        align-self: stretch;
        position: sticky;
        top: 0;
        height: 100vh;
    }

    &__main {
        grid-row: 1 / span 1;
        grid-column: 2 / span 1;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        padding: 0;
    }

    &__content {
        flex: 0 0 auto;
        width: 100%;
    }

    &__main > * {
        flex: 1 1 auto;
        min-height: 0;
        display: flex;
        flex-direction: column;
    }

    &__main > router-outlet {
        flex: 0 0 auto;
    }

    &__footer {
        flex: 0 0 auto;
    }
}

.fd-root--no-sidebar {
    grid-template-columns: 1fr;
    --fd-layout-sidebar-width: 0px;
    .fd-root__main {
        grid-column: 1 / span 1;
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 768px) {
    .fd-root {
        grid-template-columns: 1fr;
        --fd-layout-sidebar-width: 0px;
    }

    .fd-root__sidebar {
        position: relative;
        height: 0;
        overflow: visible;
    }

    .fd-root__main {
        padding: 0 0 90px;
    }

    .fd-root__footer {
        display: none;
    }
}
