@import 'mixins';
@import 'variables';

:host {
    .host-style('/assets/images/background.webp');
}

.consumption-list {
    display: block;
    position: relative;
    max-width: 1000px;
    margin: @gap-l auto;
    box-sizing: border-box;
    overflow: hidden;
    padding: @gap-m;

    &__title {
        font-size: 1.8em;
        font-weight: bold;
        color: @color-text-main;
        text-align: center;
        margin: 0 0 @gap-l;
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: @gap-xxl;
        margin-bottom: @gap-l;

        @media @media-mobile {
            flex-direction: column;
            align-items: stretch;
            gap: @gap-m;
            margin-bottom: @gap-m;
        }
    }

    &__search {
        width: 100%;
    }

    &__add-button {
        white-space: nowrap;
    }

    &__loader {
        margin: @gap-l auto;
    }

    &__no-results {
        font-size: 1.2em;
        font-weight: bold;
        color: @color-text-additional;
        text-align: center;
        margin-top: @gap-l;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: @gap-xs;

        &-icon {
            font-size: 2em;
            color: @color-no-results;
        }
    }

    &__pagination {
        margin-top: @gap-l;
    }
}

.consumption-card {
    padding: @gap-m;
    display: flex;
    flex-direction: column;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: @gap-xs;

        @media @media-mobile {
            flex-direction: column;
            align-items: flex-start;
            gap: @gap-xs;
        }
    }

    &__date {
        font-size: 1.2em;
        font-weight: bold;
        color: @color-text-main;
    }

    &__item-count {
        font-size: 0.9em;
        color: @color-text-additional;
    }

    &__comment {
        font-style: italic;
        font-size: 0.9em;
        color: @color-text-additional;
        display: block;
    }

    &__details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.9em;
        color: @color-text-additional;
        margin-top: @gap-xs;

        @media @media-mobile {
            flex-direction: column;
            align-items: flex-start;
            gap: @gap-xs;
        }
    }

    &__calories {
        font-weight: 700;
        color: @color-text-main;
    }

    &__macros {
        display: flex;
        gap: @gap-s;
    }

    @media @media-mobile {
        flex-direction: column;
        align-items: flex-start;
        gap: @gap-xs;
    }
}
