<footer class="footer">
    <div class="footer__container">
        <div class="footer__sections">
            <div class="footer__section footer__section--contacts">
                <h4 class="footer__title">{{ 'FOOTER.CONTACTS.TITLE' | translate }}</h4>
                <p class="footer__text">{{ 'FOOTER.CONTACTS.EMAIL' | translate }}</p>
                <p class="footer__text">{{ 'FOOTER.CONTACTS.PHONE' | translate }}</p>
            </div>
            <div class="footer__section footer__section--social">
                <h4 class="footer__title">{{ 'FOOTER.FOLLOW_US.TITLE' | translate }}</h4>
                <div class="footer__social-icons">
                    <a href="#" class="footer__social-link">
                        <img src="assets/images/footer/facebook.svg" alt="{{ 'FOOTER.FOLLOW_US.FACEBOOK' | translate }}" class="footer__social-icon" />
                    </a>
                    <a href="#" class="footer__social-link">
                        <img src="assets/images/footer/instagram.svg" alt="{{ 'FOOTER.FOLLOW_US.INSTAGRAM' | translate }}" class="footer__social-icon" />
                    </a>
                    <a href="#" class="footer__social-link">
                        <img src="assets/images/footer/linkedin.svg" alt="{{ 'FOOTER.FOLLOW_US.LINKEDIN' | translate }}" class="footer__social-icon" />
                    </a>
                    <a href="#" class="footer__social-link">
                        <img src="assets/images/footer/telegram.svg" alt="{{ 'FOOTER.FOLLOW_US.TELEGRAM' | translate }}" class="footer__social-icon" />
                    </a>
                    <a href="#" class="footer__social-link">
                        <img src="assets/images/footer/vk.svg" alt="{{ 'FOOTER.FOLLOW_US.VK' | translate }}" class="footer__social-icon" />
                    </a>
                    <a href="#" class="footer__social-link">
                        <img src="assets/images/footer/youtube.svg" alt="{{ 'FOOTER.FOLLOW_US.YOUTUBE' | translate }}" class="footer__social-icon" />
                    </a>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <p class="footer__bottom-text">{{ 'FOOTER.BOTTOM.COPYRIGHT' | translate }}</p>
            <a href="#" class="footer__bottom-link">{{ 'FOOTER.BOTTOM.PRIVACY_POLICY' | translate }}</a> |
            <a href="#" class="footer__bottom-link">{{ 'FOOTER.BOTTOM.TERMS_OF_USE' | translate }}</a>
        </div>
    </div>
</footer>
