<footer class="fd-footer">
    <div class="fd-footer__top">
        <div class="fd-footer__inner">
            <div class="fd-footer__contacts">
                <p class="fd-footer__heading">{{ 'FOOTER.CONTACTS.TITLE' | translate }}</p>
                <div class="fd-footer__contact-list">
                    <a class="fd-footer__contact" href="mailto:support@example.com">
                        {{ 'FOOTER.CONTACTS.EMAIL' | translate }}
                    </a>
                    <a class="fd-footer__contact" href="tel:+11234567890">
                        {{ 'FOOTER.CONTACTS.PHONE' | translate }}
                    </a>
                </div>
            </div>
            <div class="fd-footer__social">
                <p class="fd-footer__heading">{{ 'FOOTER.FOLLOW_US.TITLE' | translate }}</p>
                <div class="fd-footer__social-list">
                    <a href="#" class="fd-footer__social-link" aria-label="{{ 'FOOTER.FOLLOW_US.FACEBOOK' | translate }}">
                        <span class="fd-footer__social-icon">
                            <img src="assets/images/footer/facebook.svg" alt="{{ 'FOOTER.FOLLOW_US.FACEBOOK' | translate }}" />
                        </span>
                    </a>
                    <a href="#" class="fd-footer__social-link" aria-label="{{ 'FOOTER.FOLLOW_US.INSTAGRAM' | translate }}">
                        <span class="fd-footer__social-icon">
                            <img src="assets/images/footer/instagram.svg" alt="{{ 'FOOTER.FOLLOW_US.INSTAGRAM' | translate }}" />
                        </span>
                    </a>
                    <a href="#" class="fd-footer__social-link" aria-label="{{ 'FOOTER.FOLLOW_US.LINKEDIN' | translate }}">
                        <span class="fd-footer__social-icon">
                            <img src="assets/images/footer/linkedin.svg" alt="{{ 'FOOTER.FOLLOW_US.LINKEDIN' | translate }}" />
                        </span>
                    </a>
                    <a href="#" class="fd-footer__social-link" aria-label="{{ 'FOOTER.FOLLOW_US.TELEGRAM' | translate }}">
                        <span class="fd-footer__social-icon">
                            <img src="assets/images/footer/telegram.svg" alt="{{ 'FOOTER.FOLLOW_US.TELEGRAM' | translate }}" />
                        </span>
                    </a>
                    <a href="#" class="fd-footer__social-link" aria-label="{{ 'FOOTER.FOLLOW_US.VK' | translate }}">
                        <span class="fd-footer__social-icon">
                            <img src="assets/images/footer/vk.svg" alt="{{ 'FOOTER.FOLLOW_US.VK' | translate }}" />
                        </span>
                    </a>
                    <a href="#" class="fd-footer__social-link" aria-label="{{ 'FOOTER.FOLLOW_US.YOUTUBE' | translate }}">
                        <span class="fd-footer__social-icon">
                            <img src="assets/images/footer/youtube.svg" alt="{{ 'FOOTER.FOLLOW_US.YOUTUBE' | translate }}" />
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="fd-footer__bottom">
        <div class="fd-footer__inner fd-footer__bottom-inner">
            <p class="fd-footer__copyright">{{ 'FOOTER.BOTTOM.COPYRIGHT' | translate }}</p>
            <div class="fd-footer__links">
                <a href="#" class="fd-footer__link">{{ 'FOOTER.BOTTOM.PRIVACY_POLICY' | translate }}</a>
                <span class="fd-footer__divider" aria-hidden="true"></span>
                <a href="#" class="fd-footer__link">{{ 'FOOTER.BOTTOM.TERMS_OF_USE' | translate }}</a>
            </div>
        </div>
    </div>
</footer>
