<footer class="fd-footer">
    <div class="fd-footer__inner">
        <div class="fd-footer__brand">
            <p class="fd-footer__logo">Food Diary</p>
            <p class="fd-footer__tagline">{{ 'HERO.SUBTITLE' | translate }}</p>
        </div>
        <div class="fd-footer__links">
            <a href="#" class="fd-footer__link">{{ 'FOOTER.BOTTOM.PRIVACY_POLICY' | translate }}</a>
            <a href="#" class="fd-footer__link">{{ 'FOOTER.BOTTOM.TERMS_OF_USE' | translate }}</a>
            <a href="mailto:support@example.com" class="fd-footer__link">{{ 'FOOTER.CONTACTS.EMAIL' | translate }}</a>
        </div>
    </div>
</footer>
