<fd-sidebar-desktop
    [brandStatusKey]="brandStatusKey()"
    [unreadNotificationCount]="unreadNotificationCount()"
    [primaryRouteItems]="primaryRouteItems()"
    [primaryActionItems]="primaryActionItems()"
    [pendingRoute]="pendingRoute()"
    [foodTrackingItems]="foodTrackingItems"
    [bodyTrackingItems]="bodyTrackingItems"
    [desktopBottomItems]="desktopBottomItems"
    [isFoodTrackingOpen]="isFoodTrackingOpen()"
    [isBodyTrackingOpen]="isBodyTrackingOpen()"
    [currentUser]="currentUser()"
    [userPlanLabelKey]="userPlanLabelKey()"
    [isUserMenuOpen]="isUserMenuOpen()"
    (notificationsOpen)="openNotificationsAsync()"
    (routeSelected)="onRouteSelected($event)"
    (primaryAction)="onPrimaryAction($event)"
    (foodTrackingToggle)="toggleFoodTracking()"
    (bodyTrackingToggle)="toggleBodyTracking()"
    (userMenuToggle)="toggleUserMenu($event)"
    (directRouteClick)="onDirectRouteRequest($event)"
    (logout)="logoutAsync()"
/>

<fd-sidebar-mobile
    [isProgressVisible]="isMobileProgressVisible()"
    [dailyConsumedKcalRounded]="dailyConsumedKcalRounded()"
    [dailyGoalKcalRounded]="dailyGoalKcalRounded()"
    [dailyProgressPercent]="dailyProgressPercent()"
    [pendingRoute]="pendingRoute()"
    [isFoodOpen]="isMobileFoodOpen()"
    [isBodyOpen]="isMobileBodyOpen()"
    [isReportsOpen]="isMobileReportsOpen()"
    [isUserOpen]="isMobileUserOpen()"
    [unreadNotificationCount]="unreadNotificationCount()"
    [isSheetOpen]="isMobileSheetOpen()"
    [activeSheetLabelKey]="activeMobileSheetLabelKey()"
    [mobileSheet]="mobileSheet()"
    [isAdmin]="isAdmin()"
    [activeRouteItems]="activeMobileSheetRouteItems()"
    (directRouteClick)="onDirectRouteRequest($event)"
    (closeMenus)="closeMobileMenus()"
    (foodToggle)="toggleMobileFood($event)"
    (bodyToggle)="toggleMobileBody($event)"
    (reportsToggle)="toggleMobileReports($event)"
    (userToggle)="toggleMobileUser($event)"
    (mobileAction)="onMobileAction($event)"
    (routeSelected)="onRouteSelected($event)"
/>
