<div class="header">
    <div class="header__logo">
        <a class="header__logo-link" [routerLink]="'/'">
            <img src="assets/images/header/logo.svg" alt="Logo" class="header__logo-img" />
        </a>
    </div>
    <div class="header__tabs-container">
        <nav class="header__tabs">
            <a
                class="header__tab"
                routerLink="/"
                routerLinkActive="active-tab"
                [routerLinkActiveOptions]="{ exact: true }"
            >
                {{ 'HEADER.HOME' | translate }}
            </a>
            @if (isAuthenticated()) {
                <a class="header__tab" routerLink="/products" routerLinkActive="active-tab">
                    {{ 'HEADER.PRODUCTS' | translate }}
                </a>
                <a class="header__tab" routerLink="/recipes" routerLinkActive="active-tab">
                    {{ 'HEADER.RECIPES' | translate }}
                </a>
                <a class="header__tab" routerLink="/consumptions" routerLinkActive="active-tab">
                    {{ 'HEADER.CONSUMPTION' | translate }}
                </a>
                <a class="header__tab" routerLink="/statistics" routerLinkActive="active-tab">
                    {{ 'HEADER.STATISTICS' | translate }}
                </a>
                <button
                    class="header__tab header__tab--dropdown"
                    [class.active-tab]="userSectionActive"
                    type="button"
                    fdUiMenuTrigger
                    [fdUiMenuTriggerFor]="userMenu.matMenu"
                >
                    {{ 'HEADER.USER' | translate }}
                    <mat-icon>expand_more</mat-icon>
                </button>
            } @else {
                <a class="header__tab" routerLink="/auth" routerLinkActive="active-tab">
                    {{ 'HEADER.LOGIN' | translate }}
                </a>
            }
        </nav>

        <button
            class="mobile-menu-button"
            type="button"
            fdUiMenuTrigger
            [fdUiMenuTriggerFor]="mobileMenu.matMenu"
        >
            <mat-icon>menu</mat-icon>
            {{ 'HEADER.MENU' | translate }}
        </button>
    </div>
</div>

<fd-ui-menu #userMenu="fdUiMenu">
    <fd-ui-menu-item (itemClick)="goToProfile()">
        {{ 'HEADER.PROFILE_EDIT' | translate }}
    </fd-ui-menu-item>
    <fd-ui-menu-item (itemClick)="goToWeightHistory()">
        {{ 'HEADER.WEIGHT_HISTORY' | translate }}
    </fd-ui-menu-item>
    <fd-ui-menu-item (itemClick)="goToWaistHistory()">
        {{ 'HEADER.WAIST_HISTORY' | translate }}
    </fd-ui-menu-item>
    <fd-ui-menu-item (itemClick)="goToCycleTracking()">
        {{ 'HEADER.CYCLE_TRACKING' | translate }}
    </fd-ui-menu-item>
    <fd-ui-menu-item (itemClick)="logout()">
        {{ 'HEADER.LOGOUT' | translate }}
    </fd-ui-menu-item>
</fd-ui-menu>

<fd-ui-menu #mobileMenu="fdUiMenu">
    <fd-ui-menu-item routerLink="/">
        {{ 'HEADER.HOME' | translate }}
    </fd-ui-menu-item>
    @if (isAuthenticated()) {
        <fd-ui-menu-item routerLink="/products">
            {{ 'HEADER.PRODUCTS' | translate }}
        </fd-ui-menu-item>
        <fd-ui-menu-item routerLink="/recipes">
            {{ 'HEADER.RECIPES' | translate }}
        </fd-ui-menu-item>
        <fd-ui-menu-item routerLink="/consumptions">
            {{ 'HEADER.CONSUMPTION' | translate }}
        </fd-ui-menu-item>
        <fd-ui-menu-item routerLink="/statistics">
            {{ 'HEADER.STATISTICS' | translate }}
        </fd-ui-menu-item>
        <fd-ui-menu-divider />
        <fd-ui-menu-item (itemClick)="goToProfile()">
            {{ 'HEADER.PROFILE_EDIT' | translate }}
        </fd-ui-menu-item>
        <fd-ui-menu-item (itemClick)="goToWeightHistory()">
            {{ 'HEADER.WEIGHT_HISTORY' | translate }}
        </fd-ui-menu-item>
        <fd-ui-menu-item (itemClick)="goToWaistHistory()">
            {{ 'HEADER.WAIST_HISTORY' | translate }}
        </fd-ui-menu-item>
        <fd-ui-menu-item (itemClick)="goToCycleTracking()">
            {{ 'HEADER.CYCLE_TRACKING' | translate }}
        </fd-ui-menu-item>
        <fd-ui-menu-item (itemClick)="logout()">
            {{ 'HEADER.LOGOUT' | translate }}
        </fd-ui-menu-item>
    } @else {
        <fd-ui-menu-divider />
        <fd-ui-menu-item routerLink="/auth">
            {{ 'HEADER.LOGIN' | translate }}
        </fd-ui-menu-item>
    }
</fd-ui-menu>
