<fd-ui-card
    class="meal-manage__card"
    tone="editor"
    density="relaxed"
    headerAlign="center"
    [title]="'MEAL_MANAGE.SATIETY_SECTION_TITLE' | translate"
>
    <p class="meal-manage__satiety-note fd-ui-body-sm">{{ 'MEAL_MANAGE.SATIETY_SECTION_HINT' | translate }}</p>
    <fd-meal-satiety-fields
        layout="compactColumns"
        pickerSize="md"
        labelBeforeKey="MEAL_MANAGE.HUNGER_BEFORE_LABEL"
        labelAfterKey="MEAL_MANAGE.HUNGER_AFTER_LABEL"
        [preMealSatietyLevel]="preMealSatietyLevel()"
        [postMealSatietyLevel]="postMealSatietyLevel()"
        (preMealSatietyLevelChange)="preMealSatietyLevelChange.emit($event)"
        (postMealSatietyLevelChange)="postMealSatietyLevelChange.emit($event)"
    />
</fd-ui-card>
