<fd-ui-dialog class="calorie-goal-dialog" [title]="'USER_MANAGE.DAILY_CALORIES' | translate">
    <form [formGroup]="form" (ngSubmit)="save()" id="calorieGoalForm">
        <fd-ui-input
            formControlName="dailyCalorieTarget"
            type="number"
            [label]="'USER_MANAGE.CALORIE_TARGET_LABEL' | translate"
            [placeholder]="'USER_MANAGE.DAILY_CALORIES_PLACEHOLDER' | translate"
            floatLabel="always"
        />
    </form>

    <p class="calorie-goal-dialog__hint">
        {{ 'USER_MANAGE.CALORIE_TARGET_HINT' | translate }}
    </p>

    <div fdUiDialogFooter class="calorie-goal-dialog__footer">
        <fd-ui-button type="button" variant="secondary" fill="ghost" (click)="cancel()">
            {{ 'COMMON.CANCEL' | translate }}
        </fd-ui-button>
        <fd-ui-button type="submit" icon="save" form="calorieGoalForm" (click)="save()">
            {{ 'COMMON.SAVE' | translate }}
        </fd-ui-button>
    </div>
</fd-ui-dialog>

