@import 'variables';

.today-consumption {
    display: flex;
    flex-direction: column;
    gap: @gap-m;
    max-width: 1000px;
    margin: 0 auto;
    padding: @gap-xl;

    &__title {
        text-align: center;
        font-size: 1.8em;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: @gap-xl;
        color: @color-text-main;
    }

    &__card {
        background-color: @color-background;
        border-radius: @border-radius-m;
        box-shadow: 0 4px 8px @color-box-shadow;
        display: flex;
        flex-direction: column;
        padding: @gap-xl;
        gap: @gap-m;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: @gap-xl;

        @media @media-tablet {
            flex-direction: column;
        }
    }

    &__secondary-actions {
        display: flex;
        gap: @gap-m;

        @media @media-tablet {
            flex-direction: column;
        }
    }

    &__left, &__right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: @gap-m;
        flex: 1;
    }

    &__header {
        margin-bottom: @gap-m;
    }

    &__subtitle {
        font-size: 1.5em;
        font-weight: bold;
        color: #007bff;
    }

    &__calories {
        font-size: 1.2em;
        font-weight: bold;
        color: @color-text-main;
    }

    &__body {
        margin-top: @gap-m;
    }

    &__nutrients {
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: @border-radius-m;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
        padding: @gap-m;
        display: flex;
        flex-direction: column;
        gap: @gap-m;

        &-container {
            display: flex;
            align-items: center;
            gap: @gap-m;
            flex-wrap: wrap;

            @media @media-mobile {
                flex-direction: column;
                align-items: stretch;
            }
        }

        &-list {
            flex: 1;
            list-style: none;
            padding: 0;
            margin: 0;
            font-size: 0.9em;
            color: @color-text-main;

            @media @media-mobile {
                margin-bottom: @gap-m;
            }
        }

        &-chart {
            flex: 1;
            display: flex;
            max-height: 300px;
            max-width: 300px;
            justify-content: center;
            align-items: center;

            @media @media-mobile {
                justify-content: center;
            }

            canvas {
                max-height: 300px;
                max-width: 300px;
            }
        }
    }

    &__button {
        width: 100%;
        justify-content: center;

        &--primary {
            background-color: #007bff;
            color: @color-background;
        }

        &--outline {
            background-color: transparent;
            color: #007bff;
            border: 1px solid #007bff;
        }

        &--info {
            background-color: #fd7e14;
            color: @color-background;
            border: 1px solid #e06b0a;
        }
    }
}
