<div class="today-consumption">
    <h2 class="today-consumption__title">{{ 'TODAY_CONSUMPTION.TITLE' | translate }}</h2>
    <fd-nutrients-summary
        [calories]="todayCalories()"
        [nutrientChartData]="nutrientChartData()"
    ></fd-nutrients-summary>
    <div class="today-consumption__card">
        <div class="today-consumption__content">
            <button
                class="today-consumption__button today-consumption__button--primary"
                tuiButton
                size="xl"
                iconStart="@tui.plus"
                (click)="addConsumption()"
            >
                {{ 'TODAY_CONSUMPTION.ADD_CONSUMPTION' | translate }}
            </button>
            <div class="today-consumption__secondary-actions">
                <div class="today-consumption__right">
                    <button
                        class="today-consumption__button today-consumption__button--outline"
                        tuiButton
                        size="m"
                        iconStart="@tui.plus"
                        (click)="addFood()"
                    >
                        {{ 'TODAY_CONSUMPTION.ADD_FOOD' | translate }}
                    </button>
                    <button
                        class="today-consumption__button today-consumption__button--outline"
                        tuiButton
                        size="m"
                        iconStart="@tui.list-plus"
                        (click)="manageFoods()"
                    >
                        {{ 'TODAY_CONSUMPTION.MANAGE_FOODS' | translate }}
                    </button>
                </div>
                <div class="today-consumption__left">
                    <button
                        class="today-consumption__button today-consumption__button--outline"
                        tuiButton
                        size="m"
                        iconStart="@tui.list-plus"
                        (click)="manageConsumptions()"
                    >
                        {{ 'TODAY_CONSUMPTION.MANAGE_CONSUMPTIONS' | translate }}
                    </button>
                    <button
                        class="today-consumption__button today-consumption__button--info"
                        tuiButton
                        size="m"
                        iconStart="@tui.chart-no-axes-combined"
                        (click)="goToStatistics()"
                    >
                        {{ 'TODAY_CONSUMPTION.VIEW_STATISTICS' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
