:host {
    display: block;
}

.fd-ui-input {
    width: 100%;

    &.fd-ui-input--has-error {
        --mdc-outlined-text-field-focus-outline-color: var(--fd-color-warn);
    }

    &:not(.fd-ui-input--has-error) {
        --mdc-outlined-text-field-focus-outline-color: var(--fd-color-primary);
    }

    .mat-mdc-form-field-subscript-wrapper {
        font-size: 0.75rem;
        line-height: 1.2;
    }
}

.fd-ui-input__clear {
    color: var(--fd-color-text-muted);

    &:disabled {
        color: rgba(0, 0, 0, 0.26);
    }
}

.mat-mdc-text-field-wrapper {
    border-radius: var(--fd-radius-md);
    background-color: var(--fd-color-surface);
}

.mat-mdc-input-element {
    font: inherit;
}
