<fd-ui-dialog
    [title]="'CONSUMPTION_MANAGE.PHOTO_AI_DIALOG.TITLE' | translate"
    [subtitle]="'CONSUMPTION_MANAGE.PHOTO_AI_DIALOG.SUBTITLE' | translate"
    size="lg"
>
    <fd-image-upload-field
        [cropEnabled]="false"
        [resizeMaxDimension]="1536"
        [deleteOnClear]="true"
        (imageChanged)="onImageChanged($event)"
    />
    <div fdUiDialogFooter class="photo-upload-dialog__footer fd-row fd-justify-end">
        <fd-ui-button fill="outline" variant="secondary" (click)="close()">
            {{ 'COMMON.CANCEL' | translate }}
        </fd-ui-button>
    </div>
</fd-ui-dialog>
