<div class="product-manage" fdPageContainer>
    <fd-manage-header
        class="product-manage__header"
        [title]="product() ? ('PRODUCT_MANAGE.EDIT_TITLE' | translate) : ('PRODUCT_MANAGE.ADD_TITLE' | translate)"
        [subtitle]="'PRODUCT_MANAGE.SUBTITLE' | translate"
        [backAriaLabel]="'PRODUCT_MANAGE.CANCEL_BUTTON' | translate"
        (back)="onCancel()"
    />

    <form class="product-manage__form" [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <div class="product-manage__grid">
            <div class="product-manage__column product-manage__column--primary">
                <fd-product-basic-info
                    [formGroup]="productForm"
                    [unitOptions]="unitOptions"
                    [productTypeOptions]="productTypeSelectOptions"
                    [visibilityOptions]="visibilitySelectOptions"
                    [getControlError]="getControlErrorFn"
                    (openBarcodeScanner)="openBarcodeScanner()"
                    (openAiRecognition)="openAiRecognitionDialog()"
                />
            </div>

            <div class="product-manage__column product-manage__column--secondary">
                <div class="product-manage__sticky-stack">
                    <fd-product-nutrition-editor
                        [formGroup]="productForm"
                        [nutritionMode]="nutritionMode"
                        [nutritionModeOptions]="nutritionModeOptions"
                        [macroBarState]="macroBarState()"
                        [nutritionWarning]="nutritionWarning()"
                        [caloriesError]="caloriesError()"
                        [macrosError]="macrosError()"
                        [nutritionControlNames]="nutritionControlNames"
                        (nutritionModeChange)="onNutritionModeChange($event)"
                        (openAiRecognition)="openAiRecognitionDialog()"
                    />

                    <div class="product-manage__actions-panel">
                        <div class="product-manage__footer-actions">
                            <fd-ui-button
                                type="button"
                                class="product-manage__cancel-button"
                                fill="outline"
                                variant="primary"
                                icon="arrow_back"
                                (click)="onCancel()"
                            >
                                {{ 'PRODUCT_MANAGE.CANCEL_BUTTON' | translate }}
                            </fd-ui-button>
                            @if (canShowDeleteButton) {
                                <fd-ui-button
                                    type="button"
                                    class="product-manage__delete-button product-manage__delete-button--icon"
                                    variant="danger"
                                    fill="outline"
                                    icon="delete"
                                    [ariaLabel]="'PRODUCT_MANAGE.DELETE_BUTTON' | translate"
                                    [disabled]="isDeleting()"
                                    (click)="onDeleteProduct()"
                                />
                            }
                            @if (product()) {
                                <fd-ui-button type="submit" class="product-manage__action-button" icon="save" [fullWidth]="true">
                                    {{ 'PRODUCT_MANAGE.SAVE_BUTTON' | translate }}
                                </fd-ui-button>
                            } @else {
                                <fd-ui-button
                                    type="submit"
                                    class="product-manage__action-button product-manage__action-button--add"
                                    appearance="brand-action"
                                    icon="add"
                                    [fullWidth]="true"
                                >
                                    {{ 'PRODUCT_MANAGE.ADD_BUTTON' | translate }}
                                </fd-ui-button>
                            }
                        </div>
                        @if (globalError()) {
                            <fd-ui-form-error class="product-manage__footer-error" [error]="globalError()" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
