<div
    class="fd-notice fd-ui-notice-surface"
    [class.fd-ui-notice-surface--info]="type() === 'info'"
    [class.fd-ui-notice-surface--warning]="type() === 'warning'"
    [class.fd-ui-notice-surface--danger]="type() === 'error'"
>
    <div class="fd-notice__main">
        <div class="fd-notice__icon" aria-hidden="true">
            @switch (type()) {
                @case ('warning') {
                    !
                }
                @case ('error') {
                    x
                }
                @default {
                    i
                }
            }
        </div>
        <div class="fd-notice__text">
            <div class="fd-notice__title fd-ui-card-title">{{ title() }}</div>
            <div class="fd-notice__message fd-ui-body-sm">{{ message() }}</div>
        </div>
    </div>
    @if (showAction()) {
        <fd-ui-button class="fd-notice__action" type="button" variant="secondary" fill="text" size="sm" (click)="onAction()">
            {{ actionLabel() }}
        </fd-ui-button>
    }
</div>
