<div class="fasting-controls fd-stack fd-align-center fd-gap-lg">
    @if (!isActive()) {
        <fd-fasting-setup-controls
            [modeOptions]="modeOptions()"
            [selectedMode]="selectedMode()"
            [intermittentProtocolOptions]="intermittentProtocolOptions()"
            [extendedProtocolOptions]="extendedProtocolOptions()"
            [cyclicPresetOptions]="cyclicPresetOptions()"
            [cyclicEatDayProtocolOptions]="cyclicEatDayProtocolOptions()"
            [selectedProtocol]="selectedProtocol()"
            [selectedCyclicPresetValue]="selectedCyclicPresetValue()"
            [cyclicEatDayProtocol]="cyclicEatDayProtocol()"
            [customIntermittentFastHours]="customIntermittentFastHours()"
            [customIntermittentEatingWindowHours]="customIntermittentEatingWindowHours()"
            [customHours]="customHours()"
            [cyclicFastDays]="cyclicFastDays()"
            [cyclicEatDays]="cyclicEatDays()"
            [cyclicEatDayFastHours]="cyclicEatDayFastHours()"
            [cyclicEatDayEatingWindowHours]="cyclicEatDayEatingWindowHours()"
            [isCustomCyclicPresetSelected]="isCustomCyclicPresetSelected()"
            [isStarting]="isStarting()"
            (modeChange)="onModeChange($event)"
            (protocolChange)="onProtocolChange($event)"
            (customIntermittentFastHoursChange)="onCustomIntermittentFastHoursChange($event)"
            (customHoursChange)="onCustomHoursChange($event)"
            (cyclicPresetChange)="onCyclicPresetChange($event)"
            (cyclicFastDaysChange)="onCyclicFastDaysChange($event)"
            (cyclicEatDaysChange)="onCyclicEatDaysChange($event)"
            (cyclicEatDayProtocolChange)="onCyclicEatDayProtocolChange($event)"
            (cyclicEatDayFastHoursChange)="onCyclicEatDayFastHoursChange($event)"
            (startFasting)="startFasting()"
        />
    } @else if (isActiveExtendedSession()) {
        <fd-fasting-active-extended-controls
            [canExtendActiveSession]="canExtendActiveSession()"
            [isExtendPanelExpanded]="isExtendPanelExpanded()"
            [isReducePanelExpanded]="isReducePanelExpanded()"
            [isCustomExtendExpanded]="isCustomExtendExpanded()"
            [isCustomReduceExpanded]="isCustomReduceExpanded()"
            [extendPanelToggleLabel]="extendPanelToggleLabel()"
            [reducePanelToggleLabel]="reducePanelToggleLabel()"
            [customExtendActionState]="customExtendActionState()"
            [customReduceActionState]="customReduceActionState()"
            [extendHours]="extendHours()"
            [reduceHours]="reduceHours()"
            [isExtending]="isExtending()"
            [isReducing]="isReducing()"
            [isEnding]="isEnding()"
            [isUpdatingCycle]="isUpdatingCycle()"
            [endActionLabelKey]="endActionLabelKey()"
            (extendPanelToggle)="toggleExtendPanel()"
            (reducePanelToggle)="toggleReducePanel()"
            (extendDay)="extendByDay()"
            (extend36Hours)="extendBy36Hours()"
            (customExtendShow)="showCustomExtend()"
            (extendHoursChange)="onExtendHoursChange($event)"
            (extendCustom)="extendByCustom()"
            (reduce4Hours)="reduceBy4Hours()"
            (reduce8Hours)="reduceBy8Hours()"
            (customReduceShow)="showCustomReduce()"
            (reduceHoursChange)="onReduceHoursChange($event)"
            (reduceCustom)="reduceByCustom()"
            (end)="endFasting()"
        />
    } @else {
        <fd-fasting-active-basic-controls
            [canManageCurrentCyclicDay]="canManageCurrentCyclicDay()"
            [skipCycleActionLabelKey]="skipCycleActionLabelKey()"
            [postponeCycleActionLabelKey]="postponeCycleActionLabelKey()"
            [endActionLabelKey]="endActionLabelKey()"
            [isUpdatingCycle]="isUpdatingCycle()"
            [isEnding]="isEnding()"
            (skip)="skipCyclicDay()"
            (postpone)="postponeCyclicDay()"
            (end)="endFasting()"
        />
    }
</div>
