:host {
    display: block;
    position: relative;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('../../../../assets/images/background.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        opacity: 0.05;
        z-index: -1;
    }
}

.features {
    padding-bottom: 40px;
    background-color: #f9f9f9;
    text-align: center;

    &__title {
        font-size: 28px;
        margin-bottom: 20px;
        color: #333;
    }

    &__grid {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__item {
        --t-gap: 0.5rem;
        max-width: 320px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;

        &-title {
            font-size: 22px;
            margin: 0;
            color: #555555;
        }

        &-icon {
            width: 100%;
            margin-bottom: 16px;
        }

        &-description {
            font-size: 16px;
            color: #777;
            margin: 0;
        }

        &-footer {
            margin-top: auto;
        }

        &-button {
            font-size: 16px;
            padding: 10px 20px;
            color: #fff;
            background-color: #007bff;
            border: none;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background-color: darken(#007bff, 10%);
            }
        }
    }

    @media (max-width: 480px) {
        &__grid {
            flex-direction: column;
            gap: 16px;
        }

        &__item {
            width: 100%;
            max-width: none;
            margin: 0 auto;
        }
    }
}
