<div class="dashboard-widget-header fd-row fd-gap-xs fd-min-w-0" [class.dashboard-widget-header--with-icon]="hasIcon()">
    @if (hasIcon()) {
        <div class="dashboard-widget-header__icon fd-inline-center" [attr.data-tone]="iconTone()" aria-hidden="true">
            @if (iconName()) {
                <fd-ui-icon [name]="iconName()!"></fd-ui-icon>
            } @else {
                <span class="fd-ui-meta-text">{{ iconLabel() }}</span>
            }
        </div>
    }

    <div class="dashboard-widget-header__copy fd-stack fd-gap-xxs fd-min-w-0">
        <div class="dashboard-widget-header__title fd-ui-card-title">{{ title() }}</div>

        @if (description()) {
            <div class="dashboard-widget-header__description fd-ui-caption">{{ description() }}</div>
        }
    </div>
</div>
