@use 'variables' as variables;

.fd-period-filter {

    &__tabs {
        flex: 1 1 260px;
        min-width: 200px;
    }

    &__range {
        flex: 0 1 320px;
        max-width: 100%;
        min-width: 240px;
    }

    @media #{variables.$media-tablet-up} {
        flex-wrap: nowrap;
    }
}
