<div class="fd-period-filter fd-row fd-wrap fd-gap-period">
    <fd-ui-tabs
        class="fd-period-filter__tabs"
        [tabs]="tabs()"
        [selectedValue]="selectedValue()"
        (selectedValueChange)="onRangeChange($event)"
    />

    <fd-ui-date-range-input
        class="fd-period-filter__range"
        [formField]="rangeField()"
        [startLabel]="startLabel()"
        [endLabel]="endLabel()"
        [startPlaceholder]="startPlaceholder() || ''"
        [endPlaceholder]="endPlaceholder() || ''"
        [controlDisabled]="selectedValue() !== 'custom'"
    />
</div>
