<fd-ui-dialog class="macro-goal-dialog" [title]="'MACRO_SUMMARY.TITLE' | translate">
    <form [formGroup]="form" (ngSubmit)="save()" id="macroGoalForm">
        <div class="macro-goal-dialog__grid">
            <fd-ui-input
                formControlName="proteinTarget"
                type="number"
                [label]="'USER_MANAGE.PROTEIN_TARGET' | translate"
                [placeholder]="'USER_MANAGE.PROTEIN_TARGET_PLACEHOLDER' | translate"
                [fillColor]="nutrientFillColors.protein"
                floatLabel="always"
            />
            <fd-ui-input
                formControlName="fatTarget"
                type="number"
                [label]="'USER_MANAGE.FAT_TARGET' | translate"
                [placeholder]="'USER_MANAGE.FAT_TARGET_PLACEHOLDER' | translate"
                [fillColor]="nutrientFillColors.fat"
                floatLabel="always"
            />
            <fd-ui-input
                formControlName="carbTarget"
                type="number"
                [label]="'USER_MANAGE.CARB_TARGET' | translate"
                [placeholder]="'USER_MANAGE.CARB_TARGET_PLACEHOLDER' | translate"
                [fillColor]="nutrientFillColors.carb"
                floatLabel="always"
            />
            <fd-ui-input
                formControlName="fiberTarget"
                type="number"
                [label]="'USER_MANAGE.FIBER_TARGET' | translate"
                [placeholder]="'USER_MANAGE.FIBER_TARGET_PLACEHOLDER' | translate"
                [fillColor]="nutrientFillColors.fiber"
                floatLabel="always"
            />
        </div>
    </form>

    <p class="macro-goal-dialog__hint">
        {{ 'USER_MANAGE.MACRO_TARGET_HINT' | translate }}
    </p>

    <div fdUiDialogFooter class="macro-goal-dialog__footer">
        <fd-ui-button type="button" variant="secondary" fill="ghost" (click)="cancel()">
            {{ 'COMMON.CANCEL' | translate }}
        </fd-ui-button>
        <fd-ui-button type="submit" icon="save" form="macroGoalForm" (click)="save()">
            {{ 'COMMON.SAVE' | translate }}
        </fd-ui-button>
    </div>
</fd-ui-dialog>
