<div class="modal">
    <h2 class="modal__title">{{ 'CONSUMPTION_DETAIL.TITLE' | translate }}</h2>
    <hr class="modal__divider" />
    <div class="modal__body">
        <p class="modal__text">
            <span class="modal__property-name">{{ 'CONSUMPTION_DETAIL.DATE' | translate }}</span>
            {{ consumption.date | date:'dd.MM.yyyy' }} - {{ consumption.date | date:'HH:mm' }}
        </p>
        @if (consumption.comment) {
            <p class="modal__text">
                <span class="modal__property-name">{{ 'CONSUMPTION_DETAIL.COMMENT' | translate }}</span>
                {{ consumption.comment }}
            </p>
        }
        <p class="modal__text">
            <span class="modal__property-name">{{ 'CONSUMPTION_DETAIL.ITEMS_COUNT' | translate }}</span>
            {{ consumption.items.length }}
        </p>
        <p class="modal__text">
            <span class="modal__property-name">{{ 'CONSUMPTION_DETAIL.ITEMS_LIST' | translate }}</span>
            @for (item of consumption.items; track item) {
                <span>{{ item.food.name }}</span>@if($index < consumption.items.length - 1) {<span>,&nbsp;</span>}
            }
        </p>
        <p class="modal__text">
            <span class="modal__property-name">{{ 'CONSUMPTION_DETAIL.TOTAL_CALORIES' | translate }}</span>
            {{ totalCalories | number: '1.0-2' }}
        </p>
        <p class="modal__text">
            <span class="modal__property-name">{{ 'CONSUMPTION_DETAIL.TOTAL_PROTEINS' | translate }}</span>
            {{ totalProteins | number: '1.0-2' }}g
        </p>
        <p class="modal__text">
            <span class="modal__property-name">{{ 'CONSUMPTION_DETAIL.TOTAL_FATS' | translate }}</span>
            {{ totalFats | number: '1.0-2' }}g
        </p>
        <p class="modal__text">
            <span class="modal__property-name">{{ 'CONSUMPTION_DETAIL.TOTAL_CARBS' | translate }}</span>
            {{ totalCarbs | number: '1.0-2' }}g
        </p>
    </div>
    <hr class="modal__divider" />
    <div class="modal__footer">
        <div class="modal__actions">
            <button class="modal__button"  appearance="primary" tuiButton size="m" (click)="onEdit()">
                {{ 'CONSUMPTION_DETAIL.EDIT_BUTTON' | translate }}
            </button>
            <button class="modal__button modal__button--accent" appearance="accent" tuiButton size="m" (click)="onDelete()">
                {{ 'CONSUMPTION_DETAIL.DELETE_BUTTON' | translate }}
            </button>
        </div>
    </div>
</div>

<ng-template #confirmDialog let-observer>
    <div class="dialog">
        <p class="dialog__content">
            {{ 'CONSUMPTION_DETAIL.CONFIRM_DELETE_TITLE' | translate }}
            <span class="dialog__highlight">{{ consumption.date | date }}</span>?
        </p>
        <div class="dialog__buttons">
            <button class="dialog__button" appearance="primary" tuiButton size="m" (click)="observer.complete()">
                {{ 'CONSUMPTION_DETAIL.CANCEL_BUTTON' | translate }}
            </button>
            <button class="dialog__button dialog__button--accent" appearance="accent" tuiButton size="m" (click)="observer.next(true); observer.complete()">
                {{ 'CONSUMPTION_DETAIL.CONFIRM_BUTTON' | translate }}
            </button>
        </div>
    </div>
</ng-template>
