<div class="consumption-manage">
    <h2 class="consumption-manage__title">
        @if (consumption()) {
            {{ 'CONSUMPTION_MANAGE.EDIT_TITLE' | translate }}
        } @else {
            {{ 'CONSUMPTION_MANAGE.ADD_TITLE' | translate }}
        }
    </h2>

    <form class="consumption-manage__form" [formGroup]="consumptionForm" (ngSubmit)="onSubmit()">
        <div class="consumption-manage__date">
            <tui-input-date-time
                formControlName="date"
            >
                {{ 'CONSUMPTION_MANAGE.CHOOSE_DATE' | translate }}
            </tui-input-date-time>
            <tui-error
                formControlName="date"
                [error]="[] | tuiFieldError | async"
            ></tui-error>
        </div>
        <div class="consumption-manage__consumption">
            <div class="custom-group">
                <div class="custom-group__header">
                    {{ 'CONSUMPTION_MANAGE.FOODS' | translate }}
                </div>
                <div class="consumption-manage__select">
                    <div class="consumption-manage__select-rows" formArrayName="consumedFood">
                        @for (foodItem of consumedFood.controls; track foodItem; let i = $index; let first = $first) {
                            <div class="consumption-manage__select-row" [formGroupName]="i">
                                <div class="consumption-manage__product-name">
                                    <tui-textfield type="text">
                                        <label tuiLabel>{{ 'CONSUMPTION_MANAGE.ADD_FOOD_ROW.FOOD' | translate }}</label>
                                        <input
                                            tuiTextfield
                                            placeholder="{{ 'CONSUMPTION_MANAGE.ADD_FOOD_ROW.FOOD_PLACEHOLDER' | translate }}"
                                            [readOnly]="true"
                                            [value]="getFoodName(i)"
                                            [invalid]="isFoodInvalid(i)"
                                            (click)="onFoodSelectClick(i)"
                                        />
                                    </tui-textfield>
                                    <tui-error
                                        formControlName="food"
                                        [error]="[] | tuiFieldError | async"
                                    ></tui-error>
                                </div>
                                <div class="consumption-manage__product-quantity">
                                    <tui-input-number
                                        type="text"
                                        formControlName="quantity"
                                    >
                                        <label tuiLabel>{{ 'CONSUMPTION_MANAGE.ADD_FOOD_ROW.QUANTITY' | translate }}{{ getFoodUnit(i) }}</label>
                                        <input
                                            tuiTextfieldLegacy
                                            placeholder="0"
                                        />
                                    </tui-input-number>
                                    <tui-error
                                        formControlName="quantity"
                                        [error]="[] | tuiFieldError | async"
                                    ></tui-error>
                                </div>
                                <button
                                    type="button"
                                    class="consumption-manage__product-delete modal__button modal__button--accent"
                                    appearance="accent"
                                    tuiButton
                                    size="l"
                                    [disabled]="first"
                                    (click)="removeFoodItem(i)"
                                >
                                    {{ 'CONSUMPTION_DETAIL.DELETE_BUTTON' | translate }}
                                </button>
                            </div>
                        }
                    </div>
                    <button
                        type="button"
                        class="consumption-manage__add-button"
                        tuiButton
                        size="m"
                        iconStart="@tui.plus"
                        appearance="primary"
                        (click)="addFoodItem()"
                    >
                        {{ 'CONSUMPTION_MANAGE.ADD_FOOD' | translate }}
                    </button>
                </div>
            </div>
            <tui-error
                formControlName="consumedFood"
                [error]="[] | tuiFieldError | async"
            ></tui-error>
        </div>
        <div class="consumption-manage__comment">
            <tui-textfield type="text">
                <label tuiLabel>{{ 'CONSUMPTION_MANAGE.COMMENT' | translate }}</label>
                <input
                    formControlName="comment"
                    tuiTextfield
                    placeholder="{{ 'CONSUMPTION_MANAGE.COMMENT_PLACEHOLDER' | translate }}"
                />
            </tui-textfield>
            <tui-error
                formControlName="comment"
                [error]="[] | tuiFieldError | async"
            ></tui-error>
        </div>
        <app-nutrients-summary
            [calories]="totalCalories()"
            [nutrientChartData]="nutrientChartData()"
        ></app-nutrients-summary>

        <div class="consumption-manage__actions">
            <button class="consumption-manage__submit-button" tuiButton appearance="primary" type="submit">
                @if (consumption()) {
                    {{ 'CONSUMPTION_MANAGE.SAVE_BUTTON' | translate }}
                } @else {
                    {{ 'CONSUMPTION_MANAGE.ADD_BUTTON' | translate }}
                }
            </button>
            <tui-error [error]="globalError()"></tui-error>
        </div>
    </form>
</div>

<ng-template #confirmDialog let-observer>
    <div class="dialog">
        <p class="dialog__title">
            @if (consumption()) {
                {{ 'CONSUMPTION_MANAGE.EDIT_SUCCESS' | translate }}
            } @else {
                {{ 'CONSUMPTION_MANAGE.CREATE_SUCCESS' | translate }}
            }
        </p>
        <div class="dialog__buttons">
            <button tuiButton size="m" (click)="observer.next('Home'); observer.complete()">
                {{ 'CONSUMPTION_MANAGE.GO_TO_HOME_BUTTON' | translate }}
            </button>
            <button tuiButton size="m" (click)="observer.next('ConsumptionList'); observer.complete()">
                {{ 'CONSUMPTION_MANAGE.GO_TO_CONSUMPTION_LIST_BUTTON' | translate }}
            </button>
        </div>
    </div>
</ng-template>
