<div class="form-container">
    <div class="tabs-container">
        <tui-tabs
            [(activeItemIndex)]="activeItemIndex"
            (activeItemIndexChange)="onTabChange($event)"
        >
            <button tuiTab>{{ 'AUTH.LOGIN.TITLE' | translate }}</button>
            <button tuiTab>{{ 'AUTH.REGISTER.TITLE' | translate }}</button>
        </tui-tabs>
    </div>
    @if(activeItemIndex === 0) {
        <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()" class="form-content">
            <tui-textfield type="email">
                <label tuiLabel>{{ 'AUTH.LOGIN.EMAIL' | translate }}</label>
                <input formControlName="email" tuiTextfield />
            </tui-textfield>
            <tui-textfield type="password">
                <label tuiLabel>{{ 'AUTH.LOGIN.PASSWORD' | translate }}</label>
                <input formControlName="password" tuiTextfield />
            </tui-textfield>
            <label tuiBlock class="checkbox_wrapper">
                <input formControlName="rememberMe" tuiCheckbox type="checkbox" />
                <div class="checkbox_text">{{ 'AUTH.LOGIN.REMEMBER_ME' | translate }}</div>
            </label>
            <button tuiButton type="submit" appearance="primary" [disabled]="loginForm.invalid">
                {{ 'AUTH.LOGIN.LOGIN' | translate }}
            </button>
            <button tuiButton type="button" size="s" appearance="link">
                {{ 'AUTH.LOGIN.FORGOT_PASSWORD' | translate }}
            </button>
        </form>
    } @else {
        <form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()" class="form-content">
            <tui-textfield type="email">
                <label tuiLabel>{{ 'AUTH.REGISTER.EMAIL' | translate }}</label>
                <input formControlName="email" tuiTextfield />
            </tui-textfield>
            <tui-textfield type="password">
                <label tuiLabel>{{ 'AUTH.REGISTER.PASSWORD' | translate }}</label>
                <input formControlName="password" tuiTextfield />
            </tui-textfield>
            <tui-textfield type="password">
                <label tuiLabel>{{ 'AUTH.REGISTER.CONFIRM_PASSWORD' | translate }}</label>
                <input formControlName="confirmPassword" tuiTextfield />
            </tui-textfield>
            <label tuiBlock class="checkbox_wrapper">
                <input
                    formControlName="agreeTerms"
                    tuiCheckbox
                    type="checkbox"
                    size="s"
                />
                <div
                    class="checkbox_text"
                    [innerHTML]="'AUTH.REGISTER.AGREE_TO_TERMS' | translate: { termsUrl: '/terms', privacyUrl: '/privacy'}"
                >
                </div>
            </label>
            <button tuiButton type="submit" appearance="primary" [disabled]="registerForm.invalid">
                {{ 'AUTH.REGISTER.REGISTER' | translate }}
            </button>
        </form>
    }
</div>
