<div class="recipe-manage">
    <h2 class="recipe-manage__title">
        @if (recipe()) {
            {{ 'RECIPE_MANAGE.EDIT_TITLE' | translate }}
        } @else {
            {{ 'RECIPE_MANAGE.ADD_TITLE' | translate }}
        }
    </h2>

    <form class="recipe-manage__form" [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
        <div class="recipe-manage__details">
            <div class="recipe-manage__name">
                <tui-textfield>
                    <label tuiLabel>{{ 'RECIPE_MANAGE.NAME' | translate }}</label>
                    <input
                        tuiTextfield
                        formControlName="name"
                        placeholder="{{ 'RECIPE_MANAGE.NAME_PLACEHOLDER' | translate }}"
                    />
                </tui-textfield>
                <tui-error
                    formControlName="name"
                    [error]="[] | tuiFieldError | async"
                ></tui-error>
            </div>

            <div class="recipe-manage__description">
                <tui-textarea formControlName="description">
                    <textarea
                        tuiTextfieldLegacy
                        placeholder="{{ 'RECIPE_MANAGE.DESCRIPTION_PLACEHOLDER' | translate }}"
                    ></textarea>
                    {{ 'RECIPE_MANAGE.DESCRIPTION' | translate }}
                </tui-textarea>
            </div>

            <div class="recipe-manage__prepTime">
                <tui-input-number formControlName="prepTime">
                    <input
                        placeholder="0"
                        tuiTextfieldLegacy
                    />
                    {{ 'RECIPE_MANAGE.PREP_TIME' | translate }}
                </tui-input-number>
                <tui-error
                    formControlName="prepTime"
                    [error]="[] | tuiFieldError | async"
                ></tui-error>
            </div>

            <div class="recipe-manage__cookTime" fdDropZone>
                <tui-input-number formControlName="cookTime">
                    {{ 'RECIPE_MANAGE.COOK_TIME' | translate }}
                    <input
                        placeholder="0"
                        tuiTextfieldLegacy
                    />
                </tui-input-number>
                <tui-error
                    formControlName="cookTime"
                    [error]="[] | tuiFieldError | async"
                ></tui-error>
            </div>

            <div class="recipe-manage__servings">
                <tui-input-number formControlName="servings">
                    {{ 'RECIPE_MANAGE.SERVINGS' | translate }}
                    <input
                        placeholder="0"
                        tuiTextfieldLegacy
                    />
                </tui-input-number>
                <tui-error
                    formControlName="servings"
                    [error]="[] | tuiFieldError | async"
                ></tui-error>
            </div>
        </div>

        <div class="recipe-manage__steps-wrapper">
            <div class="recipe-manage__steps" #dragBoundary fdDropZone formArrayName="steps">
                <div *ngFor="let step of steps.controls; let stepIndex = index; let first = first" [formGroupName]="stepIndex"
                     fdDraggable
                     [fdDraggableDragView]="customDragView"
                     [fdDraggablePlaceholder]="customDragPlaceholder"
                     [fdDraggableAxis]="'Y'"
                     [fdDraggableBoundary]="dragBoundary"
                >
                    <fd-custom-group
                        [title]="'RECIPE_MANAGE.STEPS' | translate : {index: stepIndex}"
                        [showCloseButton]="!first"
                        [isAccordion]="true"
                        [forceCollapse]="forceCollapse()"
                        (closeButtonClick)="removeStep(stepIndex)"
                    >
                        <div  class="recipe-manage__step">
                            <div class="recipe-manage__step-description">
                                <tui-textarea formControlName="description">
                                    {{ 'RECIPE_MANAGE.STEP_DESCRIPTION' | translate }}
                                    <textarea
                                        maxlength="1000"
                                        placeholder="{{ 'RECIPE_MANAGE.STEP_DESCRIPTION_PLACEHOLDER' | translate }}"
                                        tuiTextfieldLegacy
                                    ></textarea>
                                </tui-textarea>
                                <tui-error
                                    formControlName="description"
                                    [error]="[] | tuiFieldError | async"
                                ></tui-error>
                            </div>
                            <fd-custom-group [title]="'RECIPE_MANAGE.INGREDIENTS' | translate">
                                <div class="recipe-manage__ingredients-wrapper">
                                    <div class="recipe-manage__ingredients" formArrayName="ingredients">
                                        <div class="recipe-manage__ingredient" *ngFor="let ingredient of getStepIngredients(stepIndex).controls; let ingredientIndex = index; let first = first" [formGroupName]="ingredientIndex">
                                            <div class="recipe-manage__ingredient-name">
                                                <tui-textfield class="recipe-manage__ingredient-name-control">
                                                    <label tuiLabel>{{ 'RECIPE_MANAGE.INGREDIENT_NAME' | translate }}</label>
                                                    <input
                                                        tuiTextfield
                                                        placeholder="{{ 'RECIPE_MANAGE.INGREDIENT_NAME_PLACEHOLDER' | translate }}"
                                                        formControlName="food"
                                                        [readOnly]="true"
                                                        [value]="getProductName(stepIndex, ingredientIndex)"
                                                        [class.invalid]="isProductInvalid(stepIndex, ingredientIndex)"
                                                        (click)="onProductSelectClick(stepIndex, ingredientIndex)"
                                                    />
                                                </tui-textfield>
                                                <tui-error
                                                    formControlName="food"
                                                    [error]="[] | tuiFieldError | async"
                                                ></tui-error>
                                            </div>
                                            <div class="recipe-manage__ingredient-quantity-wrapper">
                                                <div class="recipe-manage__ingredient-quantity">
                                                    <tui-input-number formControlName="amount">
                                                        <label tuiLabel>{{ 'CONSUMPTION_MANAGE.ADD_FOOD_ROW.QUANTITY' | translate }}{{ getProductUnit(stepIndex, ingredientIndex) }}</label>
                                                        <input
                                                            placeholder="0"
                                                            tuiTextfieldLegacy
                                                        />
                                                    </tui-input-number>
                                                    <tui-error
                                                        formControlName="amount"
                                                        [error]="[] | tuiFieldError | async"
                                                    ></tui-error>
                                                </div>

                                                <button
                                                    type="button"
                                                    appearance="accent"
                                                    tuiButton
                                                    size="l"
                                                    iconStart="@tui.trash-2"
                                                    [disabled]="first"
                                                    (click)="removeIngredientFromStep(stepIndex, ingredientIndex)"
                                                ></button>
                                            </div>
                                        </div>
                                    </div>
                                    <button
                                        type="button"
                                        tuiButton
                                        size="m"
                                        iconStart="@tui.plus"
                                        (click)="addIngredientToStep(stepIndex)"
                                    >
                                        {{ 'RECIPE_MANAGE.ADD_INGREDIENT' | translate }}
                                    </button>
                                </div>
                            </fd-custom-group>
                            <fd-custom-group [title]="'test'">
                            </fd-custom-group>
                        </div>
                    </fd-custom-group>
                </div>
            </div>
            <button
                type="button"
                tuiButton
                size="m"
                iconStart="@tui.plus"
                (click)="addStep()"
            >
                {{ 'RECIPE_MANAGE.ADD_STEP' | translate }}
            </button>
        </div>

        <fd-nutrients-summary
            [calories]="totalCalories()"
            [nutrientChartData]="nutrientChartData()"
        ></fd-nutrients-summary>

        <button
            type="submit"
            tuiButton
            appearance="primary"
            iconStart="@tui.plus"
        >
            {{ recipe() ? 'RECIPE_MANAGE.SAVE_BUTTON' : 'RECIPE_MANAGE.ADD_BUTTON' | translate }}
        </button>
    </form>
</div>

<ng-template #customDragView>
    <fd-custom-group [title]="'view'" style="--custom-group-background: #f0f0f0;">
        view
    </fd-custom-group>
</ng-template>


<ng-template #customDragPlaceholder>
    <fd-custom-group [title]="'placeholder'" style="--custom-group-background: #f0f0f0;">
        placeholder
    </fd-custom-group>
</ng-template>
