<div class="recipe-manage">
    <h2 class="recipe-manage__title">
        @if (recipe()) {
            {{ 'RECIPE_MANAGE.EDIT_TITLE' | translate }}
        } @else {
            {{ 'RECIPE_MANAGE.ADD_TITLE' | translate }}
        }
    </h2>

    <form class="recipe-manage__form" [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
        <div class="recipe-manage__details">
            <tui-textfield>
                <label tuiLabel>{{ 'RECIPE_MANAGE.NAME' | translate }}</label>
                <input
                    tuiTextfield
                    formControlName="name"
                    placeholder="{{ 'RECIPE_MANAGE.NAME_PLACEHOLDER' | translate }}"
                />
            </tui-textfield>

            <tui-textarea formControlName="description">
                {{ 'RECIPE_MANAGE.DESCRIPTION' | translate }}
                <textarea
                    tuiTextfieldLegacy
                    placeholder="{{ 'RECIPE_MANAGE.DESCRIPTION_PLACEHOLDER' | translate }}"
                ></textarea>
            </tui-textarea>

            <tui-input-number
                formControlName="prepTime"
            >{{ 'RECIPE_MANAGE.PREP_TIME' | translate }}</tui-input-number>

            <tui-input-number
                formControlName="cookTime"
            >{{ 'RECIPE_MANAGE.COOK_TIME' | translate }}</tui-input-number>

            <tui-input-number
                formControlName="servings"
            >{{ 'RECIPE_MANAGE.SERVINGS' | translate }}</tui-input-number>
        </div>

        <div class="recipe-manage__steps-wrapper">
            <div class="recipe-manage__steps" formArrayName="steps">
                <div *ngFor="let step of steps.controls; let stepIndex = index; let first = first" [formGroupName]="stepIndex">
                    <fd-custom-group
                        [title]="'RECIPE_MANAGE.STEPS' | translate : {index: stepIndex}"
                        [showButton]="!first"
                        (buttonClick)="removeStep(stepIndex)"
                    >
                        <div  class="recipe-manage__step">
                            <tui-textarea formControlName="description">
                                {{ 'RECIPE_MANAGE.STEP_DESCRIPTION' | translate }}
                                <textarea
                                    maxlength="97"
                                    placeholder="{{ 'RECIPE_MANAGE.STEP_DESCRIPTION_PLACEHOLDER' | translate }}"
                                    tuiTextfieldLegacy
                                ></textarea>
                            </tui-textarea>
                            <fd-custom-group [title]="'RECIPE_MANAGE.INGREDIENTS' | translate">
                                <div class="recipe-manage__ingredients-wrapper">
                                    <div class="recipe-manage__ingredients" formArrayName="ingredients">
                                        <div class="recipe-manage__ingredient" *ngFor="let ingredient of getStepIngredients(stepIndex).controls; let ingredientIndex = index; let first = first" [formGroupName]="ingredientIndex">
                                            <div class="recipe-manage__ingredient-name">
                                                <tui-textfield>
                                                    <label tuiLabel>{{ 'RECIPE_MANAGE.INGREDIENT_NAME' | translate }}</label>
                                                    <input
                                                        tuiTextfield
                                                        placeholder="{{ 'RECIPE_MANAGE.INGREDIENT_NAME_PLACEHOLDER' | translate }}"
                                                        formControlName="food"
                                                        readonly
                                                    />
                                                </tui-textfield>

                                                <tui-error
                                                    formControlName="food"
                                                    [error]="[] | tuiFieldError | async"
                                                ></tui-error>
                                            </div>
                                            <div class="recipe-manage__ingredient-quantity-wrapper">
                                                <tui-input-number
                                                    formControlName="amount"
                                                >{{ 'RECIPE_MANAGE.AMOUNT' | translate }}</tui-input-number>

                                                <button
                                                    type="button"
                                                    appearance="accent"
                                                    tuiButton
                                                    size="l"
                                                    iconStart="@tui.trash-2"
                                                    [disabled]="first"
                                                    (click)="removeIngredientFromStep(stepIndex, ingredientIndex)"
                                                ></button>
                                            </div>

                                        </div>
                                    </div>
                                    <button
                                        type="button"
                                        tuiButton
                                        size="m"
                                        iconStart="@tui.plus"
                                        (click)="addIngredientToStep(stepIndex)"
                                    >
                                        {{ 'RECIPE_MANAGE.ADD_INGREDIENT' | translate }}
                                    </button>
                                </div>

                            </fd-custom-group>
                        </div>
                    </fd-custom-group>
                </div>
            </div>
            <button
                type="button"
                tuiButton
                size="m"
                iconStart="@tui.plus"
                (click)="addStep()"
            >
                {{ 'RECIPE_MANAGE.ADD_STEP' | translate }}
            </button>
        </div>

        <button
            type="submit"
            tuiButton
            appearance="primary"
            iconStart="@tui.plus"
        >
            {{ recipe() ? 'RECIPE_MANAGE.SAVE_BUTTON' : 'RECIPE_MANAGE.ADD_BUTTON' | translate }}
        </button>
    </form>
</div>
