@use 'variables' as *;

.summary-wrapper {
    display: flex;
    flex-direction: column;
    gap: $gap-m;
}

.charts-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: $gap-m;

    &.column-layout {
        flex-direction: column;
        align-items: center;
    }
}

.chart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fiber-highlight {
    margin: 0 0 $gap-m;
    color: $color-text-main;
    font-weight: 600;
}

.nutrient-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: $gap-xs;

    .nutrient {
    display: flex;
    align-items: center;
    color: $color-text-main;

        .nutrient-color {
            margin-right: $gap-xs;
            border-radius: $border-radius-s;
            display: inline-block;
        }
    }
}
