@use 'variables' as variables;

.unsaved-changes-dialog__message {
    margin: 0;
    color: var(--fd-color-text);
}

.unsaved-changes-dialog__body {
    padding: 1.25rem;
}

.unsaved-changes-dialog__footer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0 1.25rem 1.25rem;
    width: 100%;
}



